/**
 *
 * - Top Header Design
 * - Header Design
 * - Map display none
 * - Footer Design
 * - Bottom Footer Design
 * 
 * Home page CSS
 */

/* Top Header Design */
.top-header-wrap {
  display: inline-block;
  width: 100%;
  background-color: #C61C2C;
  color: #FFF;
}
.top-header-wrap .layout-center { padding-top: 8px; }
.top-header-wrap .region-header-top {
  display: inline-block;
  width: 100%;
  /*margin-top: 7px;*/
}
.top-header-wrap .block.open-hours {
  float: left;
  display: inline-block;
  width: 50%;
  margin-top: 6px;
  font-size: 14px;
}
.top-header-wrap .block.open-hours .open-hours-text::before {
  display: inline-block;
  margin-right: 6px;
  font-family: 'FontAwesome';
  content: '\f017';
}
.top-header-wrap .list-your-property {
  float: left;
  display: inline-block;
  width: 25%;
}
.top-header-wrap .list-your-property p {
  margin: 0;
}
.top-header-wrap .list-your-property p a {
  display: inline-block;
  padding: 7px 15px;
  border-radius: 3px;
  background-color: #000;
  color: #FFF;
  font-size: 14px;
  text-decoration: none;
}
.top-header-wrap #block-system-user-menu {
  float: left;
  width: 20%;
  padding-right: 15px;
  text-align: right;
}
.top-header-wrap #block-system-user-menu ul {
  /*display: inline-block;*/
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.top-header-wrap #block-system-user-menu ul li {
  float: left;
  margin-top: 3px;
  list-style-image: none;
  list-style-type: none;
}
.top-header-wrap #block-system-user-menu ul li.favorite-icon a {
  font-size: 0;
}
.top-header-wrap #block-system-user-menu ul li.favorite-icon a::before {
  display: inline-block;
  margin-right: 6px;
  font-size: 14px;
  font-family: 'FontAwesome';
  content: '\f08a';
}
.top-header-wrap #block-system-user-menu ul li a {
  padding: 6px;
  border: 1px solid transparent;
  border-radius: 3px;
  color: #FFF;
  font-size: 14px;
  text-decoration: none;
}
.top-header-wrap #block-system-user-menu ul li.is-active-trail a {
  border: 1px solid #FFF;
}

.top-header-wrap #block-lang-dropdown-language {
  float: left;
  width: 4%;
  margin-top: 2px;
  margin-left: 1%;
  text-align: right;
}
.top-header-wrap #block-lang-dropdown-language select {
  padding: 2px 4px;
  color: #FFF;
  font-size: 12px;
  background-color: #C61C2C;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.top-header-wrap #block-lang-dropdown-language select:focus {outline: none;}
.top-header-wrap #block-lang-dropdown-language .form-type-select {
  position: relative;
}
.top-header-wrap #block-lang-dropdown-language .form-type-select::after {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  margin-left: 36px;
  font-family: 'FontAwesome';
  content: '\f0d7';
}
/* End */

/* Header Design */
.header-wrap {
  display: inline-block;
  width: 100%;
}
.header-wrap  .header__logo {
  margin: 0;
}
.header-wrap .header .region-header-side {
  display: inline-block;
  width: calc(100% - 165px);
  text-align: center;
}
.header-wrap .header .region-header-side #block-system-main-menu {
  display: inline-block;
  width: auto;
  vertical-align: top;
}
.header-wrap .header .region-header-side .call-us-now {
  position: relative;
  float: right;
  display: inline-block;
  margin-top: 16px;
  margin-left: 16px;
  padding: 0 0 0 60px;
  border-left: 1px solid;
}
.header-wrap .header .region-header-side .call-us-now .call-us-now-wrap::before {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  height: 46px;
  width: 46px;
  margin-left: 6px;
  background-image: url('../images/mobile-icon.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  content: ''
}
.header-wrap .header .region-header-side .call-us-now .call-us-now-wrap .call-us-now-text {
  text-align: left;
  color: #696969;
}
.header-wrap .header .region-header-side .call-us-now .call-us-now-wrap .call-us-now-number {
  color: #C61C2C;
}
.header-wrap .header .region-header-side ul.menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.header-wrap .header .region-header-side .hauptmenu > ul.menu > li.is-collapsed > a::after {
  display: inline-block;
  margin-left: 5px;
  font-family: 'FontAwesome';
  content: '\f0d7';
}
.header-wrap .header .region-header-side .hauptmenu > ul.menu > li {
  position: relative;
  display: inline-block;
  margin: 0 10px;
  vertical-align: top;
}
.header-wrap .header .region-header-side .hauptmenu > ul.menu > li > a {
  display: inline-block;
  width: auto;
  padding: 20px;
}
.header-wrap .header .region-header-side .hauptmenu > ul.menu > li:hover > a {
  background-color: #C61C2C;
  color: #FFF;
}
.header-wrap .header .region-header-side .hauptmenu > ul.menu > li > ul {
  position: absolute;
  top: 0;
  margin-top: 50px;
}
.header-wrap .header .region-header-side ul.menu li a {
  color: #696969;
  text-decoration: none;
}
/*.header-wrap .header .region-header-side ul.menu li a:hover { text-decoration: underline; }*/
.header-wrap .header .region-header-side ul.menu li ul {
  background-color: #C61C2C;
  color: #FFF;
}
.header-wrap .header .region-header-side ul.menu li ul li {
  display: inline-block;
  width: 100%;
  padding: 10px;
  text-align: left;
}
.header-wrap .header .region-header-side ul.menu li ul li a {
  white-space: nowrap;
  color: #FFF;
}

/* Map display none */
.view-karten { display: none; }
/* End */

/* Section title design */
#block-views-addweb-happy-clients-block .block__title,
#block-views-latest-apartment-node-block .block__title {
  display: inline-block;
  width: 100%;
  margin-bottom: 55px;
  font-size: 32px;
  font-weight: normal;
  text-align: center;
}
#block-views-addweb-happy-clients-block .block__title::before,
#block-views-addweb-happy-clients-block .block__title::after,
#block-views-latest-apartment-node-block .block__title::before,
#block-views-latest-apartment-node-block .block__title::after {
  display: inline-block;
  height: 15px;
  width: 15px;
  background-image: url('../images/red-arrow-icon.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  vertical-align: middle;
  content: '';
}
#block-views-addweb-happy-clients-block .block__title::before,
#block-views-latest-apartment-node-block .block__title::before { margin-right: 18px; }
#block-views-addweb-happy-clients-block .block__title::after,
#block-views-latest-apartment-node-block .block__title::after { margin-left: 18px; }
/* End */

/* Happy client section */
#block-views-addweb-happy-clients-block {
  display: inline-block;
  width: 100%;
}
#block-views-addweb-happy-clients-block .view-content .slides {
  display: inline-block;
  width: 100%;
  text-align: left;
}
#block-views-addweb-happy-clients-block .view-content .happy-client-warp {
  float: left;
  width: 50%;
  padding-right: 35px;
}
#block-views-addweb-happy-clients-block .view-content .happy-client-warp .title-text {
  min-height: 85px;
  font-size: 36px;
  line-height: normal;
  font-weight: bold;
  text-transform: uppercase;
}
#block-views-addweb-happy-clients-block .view-content .happy-client-warp .views-field-title a {
  color: #000;
  font-size: 38px;
  text-transform: uppercase;
  text-decoration: none;
}
#block-views-addweb-happy-clients-block .view-content .happy-client-warp .views-field-title a:hover {
  color: #000;
  text-decoration: none;
}

#block-views-addweb-happy-clients-block .view-content .happy-client-warp p {
  margin: 15px 0;
  font-size: 14px;
  line-height: 30px;
}
#block-views-addweb-happy-clients-block .view-content .happy-client-warp .happy-client-user-info {
  display: inline-block;
  width: 100%;
  text-align: center;
}
#block-views-addweb-happy-clients-block .view-content .happy-client-warp .happy-client-user-info .user-photo{
  display: inline-block;
  height: 80px;
  width: 80px;
}
#block-views-addweb-happy-clients-block .view-content .happy-client-warp .happy-client-user-info .user-photo img {
  height: 80px;
  width: 80px;
  -webkit-border-radius: 100%;
     -moz-border-radius: 100%;
          border-radius: 100%;
}
#block-views-addweb-happy-clients-block .view-content .happy-client-warp .happy-client-user-info .name-text {
  color: #444;
  font-size: 16px;
  font-weight: bold;
}
#block-views-addweb-happy-clients-block .view-content .happy-client-warp .happy-client-user-info .user-deg {
  color: #444;
  font-size: 14px;
  font-weight: normal;
}
#block-views-addweb-happy-clients-block .view-content .happy-client-apartment-info {
  float: left;
  width: 50%;
}
#block-views-addweb-happy-clients-block .flex-direction-nav {
  position: absolute;
  left: 0;
  top: auto;
  bottom: 0;
  display: inline-block;
  width: 50%;
  margin-bottom: 125px;
  text-align: center;
}
#block-views-addweb-happy-clients-block .flex-control-paging { display: none; }
#block-views-addweb-happy-clients-block .flex-direction-nav a {
  height: 28px;
  width: 20px;
}
#block-views-addweb-happy-clients-block .flex-direction-nav a {
  position: relative;
  left: auto;
  right: auto;
  display: inline-block;
}
#block-views-addweb-happy-clients-block .flex-direction-nav li { display: inline-block; }
#block-views-addweb-happy-clients-block .flex-direction-nav a.flex-prev {
  margin-left: -205px;
}
#block-views-addweb-happy-clients-block .flex-direction-nav a.flex-next {
  margin-right: -125px;
}
#block-views-addweb-happy-clients-block .flex-direction-nav a:before {
  font-family: 'FontAwesome';
  content: '\f105';
}
#block-views-addweb-happy-clients-block .flex-direction-nav a.flex-prev:before {
  content: '\f104';
}
/* End */

/* Featured Projects section design */
#block-views-latest-apartment-node-block .view-latest-apartment-node {
  display: inline-block;
  width: 100%;
  margin-bottom: 50px;
}
#block-views-latest-apartment-node-block .view-latest-apartment-node .view-content {
  display: flex;
  width: 100%;
}
#block-views-latest-apartment-node-block .view-latest-apartment-node .views-row {
  position: relative;
  float: left;
  width: -webkit-calc(25% - 15px);
  width:    -moz-calc(25% - 15px);
  width:         calc(25% - 15px);
  margin-right: 20px;
  background-color: #FFF;
  -webkit-box-shadow: 0 0 8px 0px rgba(0, 0, 0, .6);
     -moz-box-shadow: 0 0 8px 0px rgba(0, 0, 0, .6);
          box-shadow: 0 0 8px 0px rgba(0, 0, 0, .6);
  &:nth-child(4n) {
    margin-right: 0;
  }
}

#block-views-latest-apartment-node-block .view-latest-apartment-node .views-row .views-field-field-apart-pictures {
  display: inline-block;
  width: 100%;
  max-height: 198px;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, .4);
     -moz-box-shadow: 0px 3px 3px rgba(0, 0, 0, .4);
          box-shadow: 0px 3px 3px rgba(0, 0, 0, .4);
}
#block-views-latest-apartment-node-block .view-latest-apartment-node .views-row .views-field-field-apart-pictures img { width: 100%; }
#block-views-latest-apartment-node-block .view-latest-apartment-node .views-row .views-field-title {
  padding-top: 20px;
  padding-left: 20px;
  color: #B71C1C;
  font-size: 14px;
  font-weight: bold;
}
#block-views-latest-apartment-node-block .view-latest-apartment-node .views-row .views-field-field-apart-living-space,
#block-views-latest-apartment-node-block .view-latest-apartment-node .views-row .views-field-field-apart-price {
  display: inline-block;
  padding-right: 10px;
  font-size: 13px;
  line-height: 14px;
}

#block-views-latest-apartment-node-block .view-latest-apartment-node .views-row .views-field-field-apart-living-space {
  padding-left: 20px;
}
#block-views-latest-apartment-node-block .view-latest-apartment-node .views-row .views-field-field-apart-price {
  padding-right: 0;
  padding-left: 10px;
  border-left: 2px solid #000;
}
#block-views-latest-apartment-node-block .view-latest-apartment-node .views-row .views-field-nothing {
  display: inline-block;
  padding: 10px 0 20px 20px;
}
#block-views-latest-apartment-node-block .view-latest-apartment-node .views-row .views-field-nothing a {
  display: inline-block;
  padding: 5px 10px;
  background-color: #B71C1C;
  color: #FFF;
  text-transform: capitalize;
  text-decoration: none;
}
#block-views-latest-apartment-node-block .view-latest-apartment-node .views-row .views-field-nothing a:hover {
  background-color: #000;
  text-decoration: none;
}
#block-views-latest-apartment-node-block .view-latest-apartment-node .views-row .views-field-field-apart-floor {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  /*display: inline-block;*/
  height: 100%;
  width: 100%;
  padding: 35px;
  background-color: rgba(0,0,0,.5);
  color: #FFF;
  text-align: center;
}
#block-views-latest-apartment-node-block .view-latest-apartment-node .views-row .views-field-field-apart-floor .room::before,
#block-views-latest-apartment-node-block .view-latest-apartment-node .views-row .views-field-field-apart-floor .bathrooms::before,
#block-views-latest-apartment-node-block .view-latest-apartment-node .views-row .views-field-field-apart-floor .floor::before {
  display: inline-block;
  font-size: 30px;
  font-family: 'FontAwesome';
  content: '\f236';
}
#block-views-latest-apartment-node-block .view-latest-apartment-node .views-row .views-field-field-apart-floor .bathrooms::before { content: '\f2cd'; }

#block-views-latest-apartment-node-block .view-latest-apartment-node .views-row .views-field-field-apart-floor .floor::before { content: '\f0f7'; }

#block-views-latest-apartment-node-block .view-latest-apartment-node .views-row .views-field-field-apart-floor .room,
#block-views-latest-apartment-node-block .view-latest-apartment-node .views-row .views-field-field-apart-floor .bathrooms,
#block-views-latest-apartment-node-block .view-latest-apartment-node .views-row .views-field-field-apart-floor .floor {
  display: inline-block;
  width: 100%;
  margin-bottom: 14px;
}
#block-views-latest-apartment-node-block .view-latest-apartment-node .views-row .views-field-field-apart-floor .room .number,
#block-views-latest-apartment-node-block .view-latest-apartment-node .views-row .views-field-field-apart-floor .bathrooms .number,
#block-views-latest-apartment-node-block .view-latest-apartment-node .views-row .views-field-field-apart-floor .floor .number {
  display: inline-block;
  padding: 0 12px 2px;
  border-bottom: 1px solid #FFF;
}
#block-views-latest-apartment-node-block .view-latest-apartment-node .views-row .views-field-field-apart-floor .floor .number { border-bottom: none; }

#block-views-latest-apartment-node-block .view-latest-apartment-node .views-row .views-field-nothing-1 {
  display: inline-block;
  margin-left: 14px;
}
#block-views-latest-apartment-node-block .view-latest-apartment-node .views-row .views-field-nothing-1 .field-content {
  font-size: 0;
}
#block-views-latest-apartment-node-block .view-latest-apartment-node .views-row .views-field-nothing-1 .field-content::before {
  color: #C4C4C4;
  font-size: 22px;
  font-family: 'FontAwesome';
  content: '\f06e';
  cursor: pointer;
}
#block-views-latest-apartment-node-block .view-latest-apartment-node .views-row .views-field-nothing-1:hover + .views-field-field-apart-floor { display: inline-block; }
/* End */


/* Choose Us */
.footer-top-wrap {
  display: inline-block;
  width: 100%;
  padding: 35px 0 60px;
  background-image: url('../images/footer-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFF;
}

.footer-top-wrap .region-footer-top .buyer-trust-us,
.footer-top-wrap .region-footer-top .sellers-prefer-us,
.footer-top-wrap .region-footer-top .expert-guidance {
  float: left;
  width: -webkit-calc(33.33% - 35px);
  width: -moz-calc(33.33% - 35px);
  width: calc(33.33% - 35px);
  margin-right: 52px;
  padding: 0 26px;
  text-align: center;
}
.footer-top-wrap .region-footer-top .buyer-trust-us .buyer-trust-us-image,
.footer-top-wrap .region-footer-top .sellers-prefer-us .sellers-prefer-us-image,
.footer-top-wrap .region-footer-top .expert-guidance .expert-guidance-image {
  display: inline-block;
  height: 90px;
  width: 70px;
  margin-bottom: 20px;
  background-image: url('../images/footer-buyer.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  font-size: 0;
}
.footer-top-wrap .region-footer-top .sellers-prefer-us .sellers-prefer-us-image {
  background-image: url('../images/footer-seller.png');
}
.footer-top-wrap .region-footer-top .expert-guidance .expert-guidance-image {
  background-image: url('../images/footer-expert.png');
}

.footer-top-wrap .region-footer-top .buyer-trust-us .buyer-trust-us-title,
.footer-top-wrap .region-footer-top .sellers-prefer-us .sellers-prefer-us-title,
.footer-top-wrap .region-footer-top .expert-guidance .expert-guidance-title {
  font-size: 20px;
}
.footer-top-wrap .region-footer-top .buyer-trust-us .buyer-trust-us-description,
.footer-top-wrap .region-footer-top .sellers-prefer-us .sellers-prefer-us-description,
.footer-top-wrap .region-footer-top .expert-guidance .expert-guidance-description {
  font-size: 14px;
  line-height: 25px;
}
.footer-top-wrap .region-footer-top .expert-guidance { margin-right: 0; }

.footer-top-wrap .region-footer-top .main-why-choose-us {
  display: inline-block;
  width: 100%;
  margin-bottom: 55px;
  text-align: center;
}
.footer-top-wrap .region-footer-top .main-why-choose-us .why-choose-us-text {
  display: inline-block;
  vertical-align: top;
  font-size: 30px;
}
.footer-top-wrap .region-footer-top .main-why-choose-us .why-choose-us-text:before,
.footer-top-wrap .region-footer-top .main-why-choose-us .why-choose-us-text:after {
  display: inline-block;
  height: 15px;
  width: 15px;
  background-image: url('../images/arrow-icon.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  vertical-align: middle;
  content: '';
}
.footer-top-wrap .region-footer-top .main-why-choose-us .why-choose-us-text:before {
  margin-right: 18px;
}
.footer-top-wrap .region-footer-top .main-why-choose-us .why-choose-us-text:after {
  margin-left: 18px;
}

/* Footer Design */
.footer {
  display: inline-block;
  width: 100%;
  padding-top: 70px;
  padding-bottom: 40px;
  color: #696969;
}
.footer .block {
  float: left;
  width: calc(33.33% - 14px);
  margin-right: 20px;
  font-size: 14px;
}
.footer .block:last-child { margin-right: 0; }
.footer .block h2 {
  margin: 0;
  padding-bottom: 12px;
  color: #000;
  font-size: 22px;
}
.footer .block ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.footer .block ul li {
  list-style-image: none;
  list-style-type: none;
}
.footer .block a {
  color: #696969;
  text-decoration: none;
}
.footer .block a:hover { text-decoration: underline; }
.footer .block .main-address .address {
  position: relative;
  margin-bottom: 6px;
}
.footer .block .main-address .address::before {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 20px;
  background-image: url('../images/location-icon.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  content: '';s
}
.footer .block .main-address .address p {
  margin: 0;
  padding-left: 36px;
}
.footer .block .main-address .phone {
  position: relative;
  margin-bottom: 6px;
}
.footer .block .main-address .phone::before {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 20px;
  font-family: 'FontAwesome';
  content: '\f095';
}
.footer .block .main-address .phone p {
  margin: 0;
  padding-left: 34px;
}
.footer .block .main-address .Email { position: relative; }
.footer .block .main-address .Email::before {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 20px;
  font-family: 'FontAwesome';
  content: '\f0e0';
}
.footer .block .main-address .Email a {
  padding-left: 36px;
}
.footer .block .main-address .menu li {
  margin-bottom: 6px;
}
/* Footer */

/* Bottom Footer Design */
.region-bottom {
  display: inline-block;
  width: 100%;
}
.region-bottom .page-bottom-menu {
  display: inline-block;
  float: left;
  width: 70%;
  background-color: #C61C2C;
}
.region-bottom .page-bottom-menu ul {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  vertical-align: top;
}
.region-bottom .page-bottom-menu ul li {
  float: left;
  color: #FFF;
  list-style-image: none;
  list-style-type: none;
  text-align: center;
}
.region-bottom .page-bottom-menu ul li.footer-wishlist {
  width: 25%;
  background-color: #000;
}
.region-bottom .page-bottom-menu ul li.footer-list-your-property {
  width: 30%;
  background-color: #C61C2C;
}
.region-bottom .page-bottom-menu ul li.footer-feedback {
  width: 20%;
  background-color: #000;
}
.region-bottom .page-bottom-menu ul li.footer-contact {
  width: 25%;
  background-color: #C61C2C;
}
.region-bottom .page-bottom-menu ul li a {
  display: inline-block;
  width: 100%;
  color: #FFF;
  padding: 20px 0;
  text-decoration: none;
}
.region-bottom .block-simplenews {
  /*float: left;*/
  display: inline-block;
  width: 30%;
  background-color: #000;
}
.region-bottom .block-simplenews form { 
  display: inline-block;
  width: 100%;
  padding: 9px 8px 9px;
}
.region-bottom .block-simplenews form .form-item {
  margin: 0;
}
.region-bottom .block-simplenews label { display: none; }
.region-bottom .block-simplenews form .form-item #edit-mail {
  float: left;
  height: 46px;
  width: 60%;
  margin: 0;
  border: none;
  border-radius: none;
}
.region-bottom .block-simplenews form .form-submit {
  display: inline-block;
  background-color: #C61C2C;
  color: #FFF;
  font-size: 18px;
  border: none;
  padding: 11px 22px;
}
/* End */
