/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";


/* Contact page design */
.page-crm-core-contact {
  .view-crm-contact-page {
    display: inline-block;
    width: 100%;
    .view-content {
      .views-row {
        display: inline-block;
        width: 100%;
        margin-top: 50px;
        border: 1px solid #C3C3C3;
        .top-container {
          width: 100%;
          padding: 15px 0 20px;
          display: inline-block;
          background-image: url("../images/Line_dotted.jpg");
          background-repeat: repeat-x;
          background-position: center bottom;
          .left-content {
            padding-left: 15px;
            display: inline-block;
            .views-field {
              .field-content {
                img {
                  height: 200px;
                  width: 200px;
                  margin-right: 20px;
                  -webkit-border-radius: 1000px;
                     -moz-border-radius: 1000px;
                          border-radius: 1000px;
                }
              }
            }
          }
          .right-content {
            display: inline-block;
            margin-top: 20px;
            vertical-align: top;
            .views-field {
              margin-bottom: 10px;
              .field-content {
                display: inline-block;
                font-size: 14px;
                color: #525252;
                * {
                  display: inline-block;
                  vertical-align: top;
                }
              }
              .field-label {
                display: inline-block;
                width: 100px;
                font-size: 14px;
                color: #323232;
                font-weight: bold;
                vertical-align: top;
              }
              &.views-field-field-name {
                .field-content {
                  font-size: 25px;
                  color: #242021;
                  font-weight: bold;
                }
              }
              &.views-field-field-company-name {
                margin-bottom: 15px;
                .field-content {
                  font-size: 17px;
                  color: #656565;
                }
              }
              &.views-field-field-address {
                &::before {
                  background-image:url("../images/location-icon.png");
                  background-repeat: no-repeat;
                  background-size: 14px 17px;
                  padding-left: 30px;
                  content: '';

                }
              }
              &.views-field-field-email {
                &::before {
                  background-image: url("../images/envelope.png");
                  background-repeat: no-repeat;
                  background-size: 17px 15px;
                  padding-left: 30px;
                  content: '';

                }
              }
              &.views-field-field-phone {
                &::before {
                  background-image: url("../images/call-answer.png");
                  background-repeat: no-repeat;
                  background-size: 14px 15px;
                  padding-left: 30px;
                  content: '';

                }
              }
            }
          }

        }
        .bottom-container {
          width: 100%;
          display: inline-block;
          padding: 30px;
          .views-field {
            padding: 15px 0;
            .field-label {
              display: inline-block;
              width: 100px;
              font-size: 15px;
              color: #323232;
              font-weight: bold;
            }
          }
          .field-content {
            display: inline-block;
            font-size: 15px;
          }
        }
      }
    }
  }
  #content-before {
    #block-hk-custom-crm-crm-contact-type,
    #block-views-crm-activity-type-block {
      float: right;
      display: inline-block;
      text-transform: uppercase;
      .view-header {
        width: 162px;
        margin-right: 5px;
        padding: 10px 38px;
        background-color: #1A1A1A;
        color: #FFF;
        font-size: 14px;
        cursor: pointer;
        background-image: url('../images/Icon_Arrow_down.png');
        background-position: right 10px center;
        background-repeat: no-repeat;
        background-size: 24px auto;
      }
      .view-crm-contact-type {
        .view-header {
          background-color: #D92227;
        }
      }
      .item-list {
        ul {
          position: absolute;
          display: none;
          max-width: 232px;
          width: 100%;
          margin: 0;
          padding: 0;
          background-color: #FFF;
          color: #212830;
          border: 2px solid #CDCDCD;
          text-align: center;
          li {
            list-style: none;
            a {
              text-decoration: none;
              font-size: 14px;
              color: #C61C2C;
              &:hover {
                color: #1A1A1A;
              }
            }
          }
        }
      }
      &:hover {
        .item-list {
          ul {
            display: block;
          }
        }
      }
    }
  }
  #block-quicktabs-crm-contact-page {
    display: inline-block;
    width: 100%;
    margin-top: 50px;
    #quicktabs-crm_contact_page {
      display: inline-block;
      ul.quicktabs-tabs {
        display: inline-block;
        margin-left: 0;
        li {
          border-right: 2px solid #B2777D;
          line-height: 31px;
          &.active {
            a {
              background-color: #282D33;
            }
          }
          &:first-child {
            border-right: none;
          }
          &:last-child {
            border-right: none;
          }
          display: inline-block;
          margin-right: -3px;
          a {
            height: 37px;
            background-color: #BD1725;
            padding: 7px 15px;
            text-decoration: none;
            color: #FFF;
            font-weight: bold;
            &:hover {
              background-color: #282D33;
            }
          }
        }
        li.first {
          a {
            background-color: #282D33;
          }
        }
      }
    }
    #quicktabs-container-crm_contact_page {
      display: inline-block;
      margin-top: 30px;
      table {
        tbody {
          tr {
            background: transparent;
          }
          tr.odd {
            border-top: 1px solid #C3C3C3;
            border-bottom: 1px solid #C3C3C3;
            background-image: url("../images/Pattern.jpg");
          }
          tr.even {
            border-top: none;
            border-bottom: none;
          }
        }
      }
      .item-list {
        ul.pager {
          li.pager-current{
            background-color: #D11F01;
            border-radius: 50%;
            color: #FFF;
            display: inline-block;
            height: 25px;
            margin: 0;
            padding: 0;
            width: 25px;
            line-height: 25px;
            a {
              /*background-color: #D11F01;
              border-radius: 50%;
              color: #FFF;
              display: inline-block;
              height: 25px;
              margin: 0;
              padding: 0;
              width: 25px;*/
            }
          }
          li.pager-item,
          li.pager-next,
          li.pager-previous {
            background-color: transparent;
            /*border: 1px solid #B8B8B8;
            border-radius: 50%;*/
            a {
              border: 1px solid #B8B8B8;
              border-radius: 50%;
              color: #000;
              display: inline-block;
              height: 22px;
              margin: 0;
              padding: 0;
              width: 25px;
            }
          }
        }
      }
    }
  }
  #content-wrapper {
    display: inline-block;
    width: 100%;
    * {
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
    }
    #main-content {
      float: left;
      display: inline-block;
      width: -webkit-calc(70% - 15px);
      width: -moz-calc(70% - 15px);
      width: calc(70% - 15px);
      margin: 0 15px 0 0;
    }
    #sidebar-right {
      float: left;
      display: inline-block;
      width: 30%;
      border: 1px solid #C5C5C5;
      margin: 50px 0 0;
      .region-sidebar-right {
        width: 100%;
        padding-left: 0;
        #block-views-search-area-block {
          .view.view-search-area {
            padding: 20px;
            .view-content {
              .content-header {
                display: inline-block;
                width: 100%;
                padding-bottom: 15px;
                margin-bottom: 15px;
                background-image: url("../images/Line_dotted.jpg");
                background-position: center bottom;
                background-repeat: repeat-x;
                .block-title {
                  font-size: 30px;
                  margin-bottom: 10px;
                }
                .sub-title {
                  color: #0a0a0a;
                  display: inline-block;
                  font-size: 16px;
                }
              }
              .views-row {
                background-color: #EBEBEB;
                .left-content {
                  display: inline-block;
                  float: left;
                  margin-right: 10px;
                }
                .right-content {
                  display: inline-block;
                  float: left;
                  .views-field-title {
                    a {
                      color: #343434;
                      font-size: 14px;
                      font-weight: bold;
                    }
                  }
                  .content-apart-no-email {
                    display: inline-block;
                    width: 100%;
                    margin-top: 10px;
                    .views-field-apart-no {
                      color: #ef595a;
                      display: inline-block;
                      float: left;
                      font-size: 18px;
                      font-weight: bold;
                    }
                    .views-field-email {
                      float: right;
                      display: inline-block;
                    }
                  }
                  .content-space-rooms {
                    display: inline-block;
                    width: 100%;
                    .views-field-living-space {
                      display: inline-block;
                      float: left;
                    }
                    .views-field-email {
                      display: inline-block;
                      float: right;
                      .field-content {
                        font-size: 0;
                        background-image: url('../images/Black_Email.png');
                        background-position: right 10px center;
                        background-repeat: no-repeat;
                        background-size: 24px auto;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

/* Search page design */
/*.not-front.page-search {
  #main {
    border: none;
    background-color: transparent;
    #content {
      .view-header {
        background-image: url("../images/select_arrow.gif");
        background-position: right 10px center;
        background-repeat: no-repeat;
        background-size: 24px auto;
        text-transform: uppercase;
        .view-crm-activity-type,
        .block-hk-custom-crm {
          display: inline-block;
          float: right;
          .view-header {
            width: 232px;
            margin-right: 10px;
            padding: 10px 38px;
            background-color: #1A1A1A;
            color: #FFF;
            font-size: 14px;
            cursor: pointer;
          }
        }
        #block-hk-custom-crm-crm-contact-type {
          &:hover {
            .item-list {
              ul {
                display: block;
              }
            }
          }
        }
        .view-crm-activity-type {
          &:hover {
            .item-list {
              ul {
                display: block;
              }
            }
          }
        }
        .block-hk-custom-crm {
          .view-header {
            background-color: #D92227;
          }
        }
        .item-list {
          ul {
            position: absolute;
            display: none;
            max-width: 232px;
            width: 100%;
            margin: 0;
            padding: 0;
            background-color: #FFF;
            color: #212830;
            border: 2px solid #CDCDCD;
            text-align: center;
            li {
              list-style: none;
              a {
                text-decoration: none;
              }
            }
          }
        }
      }
      .view-filters {
        display: inline-block;
        width: 100%;
        margin-top: 190px;
        text-align: center;
        #views-exposed-form-dashboard-page {
          display: inline-block;
          input {
            height: 58px;
          }
          .description {
            display: none;
          }
          input#edit-submit-dashboard {
            position: absolute;
            width: 100%;
            max-width: 134px;
            height: 44px;
            margin: 4px 0 0 -161px;
            padding: 10px 43px;
            border-radius: 0;
            background-image: url("../images/search-icon-dashboard.png");
            background-position: left 10px center;
            background-repeat: no-repeat;
            background-size: 34px 34px;
            font-weight: bold;
          }
          input.form-autocomplete {
            padding-left: 30px;
            min-width: 715px;
            border: 7px solid #CDCDCD;
            background-image: none;
            color: #6E6E6E;
            border-radius: 0;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            font-size: 18px;
          }
        }
      }
    }
  }
}
#autocomplete {
  width: 700px !important;
  margin-top: -6px !important;
  margin-left: 9px !important;
  border: none !important;
  ul {
    li {
      padding: 10px 0 10px 30px !important;
      text-align: left !important;
      color: #C61C2C;
      &:hover {
        background-color: #1A1A1A !important;
        color: #FFF !important;
      }
    }
  }
}*/
/* End */