# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
sites/sites.php
sites/addweb.dev.herbert-kohlmeyer.de/drushrc.php
sites/all/drush
# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# unused site
sites/hk.dev.addweb-7431-prod.dot
