# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
sites/sites.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# unused site
sites/hk.dev.addweb-7431-prod.dot
