/**
 * @file
 * SCSS file for variables.
 *
 * Footer SCSS for subdomain
 */
.node-type-apartment,
.page-object-landing-page.front {
  .footer {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 30px 0;
    background-color: #424242;
    .menu-footer {
      ul {
        li {
          padding-top: 15px;
          padding-bottom: 15px;
          a {
            padding-top: 0;
            padding-bottom: 0;
            border-left: 1px solid #000;
            line-height: 12px;
            &:hover {
              border-top-color: transparent;
              opacity: .8;
            }
          }
        }
      }
    }
    /*.block-views {
      display: inline-block;
      width: 100%;
      padding: 0;
      color: #FFF;
    }*/
    .block-views {
      float: left;
      display: inline-block;
      width: -webkit-calc(100% - 230px);
      width:    -moz-calc(100% - 230px);
      width:         calc(100% - 230px);
      padding: 0 0 20px;
      margin-right: 5px;
      color: #FFF;
      box-sizing: border-box;
      border-bottom: 1px solid #3A3A3A;
    }
  }
  .block-shariff {
    float: right;
    display: inline-block;
    width: 185px;
    .shariff {
      ul {
      float: right;
      display: inline-block;
      width: 100%;
      padding: 10px;
      background-color: #FFF;
      box-sizing: border-box;
      }
    }
  }
}
/* End */