/*
 * Object landing page SCSS
 */

@font-face {
  font-family: 'hk';
  src: url('../fonts/hk.eot?82715418');
  src: url('../fonts/hk.eot?82715418#iefix') format('embedded-opentype'),
       url('../fonts/hk.woff?82715418') format('woff'),
       url('../fonts/hk.ttf?82715418') format('truetype'),
       url('../fonts/hk.svg?82715418#hk') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* Slider */
#block-views-apartment-block-1 {
  display: inline-block;
  min-height: 200px;
  width: 100%;
  background-color: #ccc;
}
.object-slideshow {
  position: relative;
  margin-top: 40px;
  .view-display-id-block_2 {
    position: absolute;
    bottom: 0;
    z-index: 2;
    display: inline-block;
    width: 100%;
    padding: 20px 100px;
    border: 1px solid #FFF;
    border-bottom: none;
    background-color: rgba(0, 0, 0, .5);
    color: #FFF;
    @media (max-width: 1199px) {
      padding: 20px 50px;
    }
    @media (max-width: 767px) {
      padding: 15px;
    }
    .object-slideshow-text {
      float: left;
      display: inline-block;
      width: 60%;
      /*@include calc('width', '100% - 325px');*/
      @media (max-width: 1199px) {
        width: 100%;
      }
    }
    .object-inquiry-parrent {
      float: left;
      display: inline-block;
      /*width: 325px;*/
      width: 40%;
      margin: 55px 0 0;
      text-align: right;
      @media (max-width: 1199px) {
        float: right;
        width: auto;
        margin: 15px 0 0;
      }
      @media (max-width: 640px) {
        float: left;
      }
    }
    .object-inquiry-button {
      float: right;
      a {
        display: inline-block;
        width: 100%;
        padding: 7px 40px;
        @include border-radius(3px);
        background-color: #FFF;
      }
      .ajax-progress {
        height: 0;
        width: 0;
        overflow: hidden;
      }
    }
  }
}

/* Caption text */
#block-views-apartment-block-2 {
  display: inline-block;
  width: 100%;
  margin: 0 0 20px;
  padding: 5px 15px 20px;
  background-color: rgba(0, 0, 0, .4);
  color: #FFF;
}

/* Object advantages */
#block-views-apartment-block-3 {
  display: inline-block;
  width: 100%;
  padding: 0;
  .item-list {
    > ul {
      display: inline-block;
      width: 100%;
      margin: 0;
      padding: 0;
      list-style: none;
      > li {
        float: left;
        display: inline-block;
        width: calc(33.3333% - 20px);
        margin: 0 30px 0 0;
        padding: 13px 20px;
        @include box-shadow(0 0 5px 2px rgba(0, 0, 0, .5));
        &:last-child { margin-right: 0; }
        .readmore-summary {
          h2 {
            display: inline-block;
            width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
          .readmore-span {
            display: inline-block;
            width: 100%;
            margin-top: 15px;
            text-align: center;
          }
          .readmore-link {
            display: inline-block;
            width: 100%;
            max-width: 200px;
            padding: 10px;
            background-color: #E53835;
            color: #FFF;
            text-transform: uppercase;
            @include border-radius(4px);
            &:hover,
            &:focus {
              text-decoration: none;
              opacity: .9;
            }
          }
        }
        .readmore-text {
          height: 290px;
          overflow-y: auto;
          overflow-x: hidden; 
        }
        @media (max-width: 767px) {
          width: 100%;
          margin-bottom: 15px;
        }
      }
    }
  }
}

/* Form design */
.page-object-landing-page {
  #content {
    .messages--status { z-index: 100;}
  }
  #main { margin-top: 15px; }
  #search {
    display: inline-block;
    width: 100%;
    margin-top: 12px;
    margin-bottom: 25px;
    .block-facetapi {
      z-index: 1;
      float: left;
      width: -webkit-calc(25% - 24px) !important;
      width:    -moz-calc(25% - 24px) !important;
      width:         calc(25% - 24px) !important;
      margin: 0 32px 0 0;
      padding: 0;
      @include border-radius(0);
      /*&.last { margin-right: 0; }*/
      &:nth-child(4n) { margin-right: 0; }
      @media (max-width: 767px) {
        width: -webkit-calc(50% - 16px)!important;
        width:    -moz-calc(50% - 16px)!important;
        width:         calc(50% - 16px)!important;
        &:nth-child(2n) {
          margin-right: 0;
        }
      }
      @media (max-width: 480px) {
        width: 100%;
        margin-right: 0;
      }
    }
    .select2-container {
      .select2-choice {
        border-top: none;
        border-right: none;
        border-bottom: 1px solid #cbc1ba;
        border-left: none;
        @include border-radius(0);
      }
    }
  }
}

/* Map */
.page-object-landing-page {
  .leaflet-container {
    position: relative;
    height: 400px !important;
  }
  @media (max-width: 767px) {
    #main {
      padding-bottom: 65px;
    }
  }
  .leaflet-left {
    top: 0;
    z-index: 100;
  }
  .leaflet-right {
    bottom: 0;
    z-index: 100;
  }
}
/* End */

/* Logo design */
.page-object-landing-page {
  font-family: "Neue Helvetica W01",Helvetica,Arial,"Nimbus Sans L",sans-serif;
  &.front {
    .wrapper.header {
      #header {
        height: 0;
        width: 0;
        padding: 0;
      }
    }
    .object-slideshow {
      margin-top: 0;
    }
    .select2-choice {
      @include box-shadow(none);
    }
    .select2-drop-active { border-color: #CBC1BA;}
  }
  /*#logo {
    position: absolute;
    right: 0;
    margin: 85px 252px 0 0;
  }
  @media (max-width: 640px) {
    #logo {
      margin: 50px 175px 0 0;
    }
  }*/
}
/* End */

/* Drop down arrow design */
.select2-container {
  .select2-choice {
    .select2-arrow {
      display: inline-block;
      height: 20px;
      width: 20px;
      margin-top: 5px;
      margin-right: 10px;
      background-image: url('../images/dropdown-arrow.png');
      background-size: 100% auto;
      background-repeat: no-repeat;
      background-position: center left;
      b { background-image: none !important; }
    }
  }
}
/* End */

/* Group card design */
.view-object-landing-page {
  .views-row {
    margin-right: 2%;
    &:nth-child(2n) {
      margin-right: 0;
    }
    @media (max-width: 1024px) {
      margin-right: 0;
    }
  }
  .views-row-odd { float: left; }
  @media (max-width: 560px) {
    .group-card { max-width: 100%;}
  }
}
/* End */

/* Location icon design */
.icon-hk-icon-location:before {
  font-family: "hk";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  content: '\e802';
}
/* End */