.section-favoriten #main {
  background: transparent;
  border: 0;
}
.favoriten {
  .view-content > div {
    background: #fff;
    @include border-radius($border-radius);
    @include box-shadow($box-shadow);
    float: left;
    width: 45%;
    margin: 0 1em 1em 0;
    padding: .5em;
    img {
      float: left;
      margin-right: 1em;
    }
    h2 {
      font-size:  1em;
    }
  }
}
.flag-wrapper {
  display: block;
}
.flag-throbber {
    position: absolute;
    right: 5px;
    top: 2em;
}
.flag-message {
    background: none repeat scroll 0 0 #fff;
    border: 2px solid $secondary;
    @include border-radius($border-radius);
    @include box-shadow($box-shadow);
    padding: .5em;
    font-size: 0.8em;
    line-height: normal;
    position: absolute;
    right: 0;
    left: auto;
    text-align: right;
    top: 2.7em;
    width: auto;
    z-index: 200;
}
a.flag {
  text-indent: -9999px;
  display: block;
  /*background: url(../images/Icon_Favorite.png) no-repeat;*/
  /*@include sprite-sprite(Icon_Favorite);
  background: sprite($sprite, Icon_Favorite) no-repeat;*/
  @extend .sprite-Icon_Favorite;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -7px;
  right: -7px;
}
a.flagged, a.unflag-action {
  /*background: url(../images/Icon_Favorite_active.png) no-repeat;*/
  /*@include sprite-sprite(Icon_Favorite_active);
  background: sprite($sprite, Icon_Favorite_active) no-repeat;*/
  @extend .sprite-Icon_Favorite_aktiv;
}
a.fav_active i, .favorite i.icon-hk-icon-favorite {
  color: $primary;
}

/* idevels*/
.inquiry-button-wrapper {
  clear: both;
  overflow: hidden;
}
.inquiry-button-wrapper.first {
  margin-bottom: -40px;
}
.inquiry-button-wrapper.last {
  position: relative;
  top: -12px;
}
.inquiry-button-wrapper .btn {
  float: right;
  margin: 0;
}