.page-buy,
.page-mieten,
.view-merkliste,
.view-apartment {
  img {
      float: left;
      margin-right: 1em;
    }
  .views-row-even,
  .views-row-odd {
    float: left;
    width: 100%;
    @include breakpoint($br-desk) {
    width: 49%;
    }
    margin-bottom: 1em;
  }
  .views-row-odd {
    float: right;
    clear: both;
  }
  .field-name-neu-label,
  .field-name-field-kategorie {
    display: inline;
  }
  .field-name-field-kategorie {
    margin-right: 2.5em;
  }
  .field-name-field-apart-living-space,
  .field-name-field-apart-price {
    display: inline;
  }
  .field-name-field-apart-living-space::after {
    content: " / ";
  }
  .address {
    margin-top: 1em;
    i {
      font-size: 1.75em;
      margin-left: -15px;
      margin-top: -5px;
    }
  }
}

