.page-buy,
.page-mieten,
.view-merkliste,
.view-apartment {
  img {
      float: left;
      margin-right: 1em;
    }
  .views-row-even,
  .views-row-odd {
    float: left;
    width: 100%;
    img {
      max-width: 100%;
      width: 300px;
      max-height: auto;
      height: 200px;
    }
    @include breakpoint($br-desk) {
    width: 49%;
    }
    margin-bottom: 1em;
  }
  .views-row-odd {
    float: right;
    clear: both;
  }
  .field-name-neu-label,
  .field-name-field-kategorie {
    display: inline;
  }
  .field-name-field-kategorie {
    margin-right: 2.5em;
  }
  .field-name-field-apart-living-space,
  .field-name-field-apart-price {
    display: inline;
  }
  .field-name-field-apart-living-space::after {
    content: " / ";
  }
  .address {
    margin-top: 1em;
    i {
      font-size: 1.75em;
      margin-left: -15px;
      margin-top: -5px;
    }
  }
}
/* buy page search box */
.page-buy,
.page-mieten,
.view-merkliste,
.view-apartment,
.not-front {
  #search {
    .block-facetapi {
      /*width: 18.4%;*/
      width: -webkit-calc(20% - 16px);
      width: -moz-calc(20% - 16px);
      width: calc(20% - 16px);
    }
    div:last-child,
    div:nth-child(5) {
      margin-right: 0;
    }
  }
}
.page-buy {
  #search {
    margin-bottom: 16px;
    width: 100%;
  }
}
.page-buy-capital-investment,
.page-buy-commercial-property-sale,
.page-buy-freehold-apartments {
  #search {
    .block-facetapi {
      width: 23.4%;
    }
    div:last-child {
      margin-right: 0;
    }
  }
}
/* End */

/* Responsive buy page search box */
@media screen and (max-width: 905px) {
  .page-buy,
  .page-mieten,
  .view-merkliste,
  .view-apartment {
    #search {
      .block-facetapi {
        width: 18.4%;
        min-width: 18.4%;
        margin-right: 2%;
      }
    }
  }
  .page-buy-capital-investment,
  .page-buy-commercial-property-sale,
  .page-buy-freehold-apartments {
    #search {
      .block-facetapi {
        width: 23.4%;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .section-buy {
    #search {
      .block-facetapi {
        width: 48%;
        margin-right: 2%;
      }
    }
  }
}
@media screen and (max-width: 560px) {
  /*.page-buy .view-karten div >div {
    max-width: 100%;
    margin-right: 2.5%;
  }*/
  .page-buy-capital-investment,
  .page-buy-commercial-property-sale,
  .page-buy-freehold-apartments,
  .section-buy {
    .view-karten {
      .group-card {
        max-width: 100%;
      }
    }
  }
  .page-buy,
  .page-mieten,
  .view-merkliste,
  .view-apartment {
    #search {
      .block-facetapi {
        width: 48%;
        margin-right: 2%;
      }
    }
  }
}
@media screen and (max-width: 480px) {
  /*.page-buy-capital-investment,
  .page-buy-commercial-property-sale {
    #search {
      .block-facetapi {
        width: 100%;
      }
    }
  }*/

  .section-buy {
    #search {
      .block-facetapi {
        width: 100%;
        margin-right: 0;
      }
    }
  }
}
/* End */

