@import "base";
body.page-search {
  font-family: "sans-serif" !important;
}

.view-display-id-map_page {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    width: 100%;
}
.section-karte-solr .view-display-id-map_page {
  dislay: none;
}
.front .view-display-id-map_page {
  opacity: 1;
}
/* home page status message */
.front {
  #content {
    .messages--status {
      position: absolute;
      top: 0;
      margin-top: 115px;
      z-index: 111;
    }
  }
}
/* End */
/* Karte Objekt */
.objectmap,
.page-node-expose,
.section-kontakt {
  .leaflet-container {
    position: relative;
    height: 400px !important;
    clear: both;
  }
}
/* Karte Expose*/
.page-view {
  .leaflet-container {
    position: static;
  }
}
/* Karte Vollbild */
.leaflet-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto !important;
}
.page-object-landing-page {
  .leaflet-container {
    height: 400px !important;
  }
}
.view-apartment,
.view-mode-wohn_und_geschaeftshaus,
.field-name-field-objekt-wkt {
  .leaflet-container {
      width: 100%;
      min-height: 350px;
      max-height: 500px;
      position: static;
      @include breakpoint($br-desk) {
      height: 350px !important;
      width: 350px;
      }
    }
}
#content {
  z-index: 101;
  position: relative;
}
.front #content {
  position: static;
}
.not-front {
  .view-display-id-map_page {
    opacity: .25;
    z-index: -1;
  }
  #main {
    margin-top: 0;
    @include breakpoint($breakpoint-med-small-width) {
      max-width: 95%;
    }
    @include breakpoint($br-tablet) {
      margin-top: 40px;
      margin-bottom: 100px;
      padding: 2em;
    }
    padding: .5em 1em 1em;
    margin-bottom: 2em;
    z-index: 101;
    background: #fff;
    border-right: 2px solid $secondary;
    border-left: 2px solid $secondary;
    border-bottom: 2px solid $secondary;
  }
}
/* Handler positionieren */
.leaflet-top {
  top: 100px;
  @media (max-width: 667px) {
    top: 60px;
  }
}
.objectmap .leaflet-top {
  top: 10px;
}
.leaflet-bottom {
  @media (max-width: 667px) {
    bottom: 40px;
  }
  bottom: 65px;
}
.view-apartment .leaflet-bottom,
.objectmap .leaflet-bottom,
.field-name-field-objekt-wkt .leaflet-bottom {
  bottom: 0px;
}
.view-apartment .leaflet-popup-content {
  width: 200px !important;
}
@media (max-width: 667px) {
  .leaflet-left .leaflet-control {
    margin-left: 5px;
  }
}

.ui-dialog {
  /*width: 640px !important;
  height: auto !important;*/
  border: 2px solid $secondary;
  .ui-dialog-titlebar {
    line-height: 0;
    padding: 0;
    .ui-dialog-titlebar-close {
        margin: -24px -34px 0 0;
        padding: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 40px;
        height: 40px;
    }
  }
  .ui-dialog-content {
    overflow: hidden;
  }
  .ui-widget-header {
    background: #fff !important;
    border: 0 !important;
    .ui-icon-closethick {
      /*background: url(../images/Icon_x_Kreis.png) no-repeat scroll 0 0;*/
      /*@include sprite-sprite(Icon_x_Kreis);
      background-position: 80px 0 !important;*/
      @extend .sprite-Icon_x_Kreis;
      width: 40px;
      height: 40px;
    }
    .ui-state-hover .ui-icon-closethick {
      @extend .sprite-Icon_x_Kreis_aktiv;
    }
    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default,
    .ui-state-hover, .ui-state-focus {
      background: none;
      border: 0;
      color: transparent;
      border-radius: 0;
    }
  }
}
/* Responsive search box */
.home-form-wrap {
  a.form-show-link {
    top: 0;
    left: 0;
    display: none;
    border: 2px solid $secondary;
    background-image: url('../images/search-icon.png');
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: right 4px center;
    background-size: 16px auto;
    height: 24px;
    width: auto;
    background-color: #fff;
    cursor: pointer;
    margin: 90px 0 10px 46px;
    padding: 5px 30px 5px 10px;
    position: absolute;
    text-decoration: none;
    z-index: 1000;
    text-transform: capitalize;
    &:hover {
      opacity: 0.7;
    }
  }
  .ui-dialog-titlebar {
    .ui-dialog-title { /*margin: 0;*/ }
  }
  .ui-button {
    top: 0;
    right: 0;
    left: auto;
    margin: -24px -23px 0 0;
    .ui-icon {
      position: relative;
      top: 0;
      left: 0;
      margin: 0;
    }
  }
}
/* front page design */
.front {
  .ui-dialog {
    /*left: 50% !important;*/
    height: 120px;
    width: 540px;
    margin-left: 0;
    /*margin-left: -270px;*/
    padding: 3px 13px 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  #search.ui-dialog-content {
    padding: 0;
  }
  #search {
    .block-facetapi {
      height: auto;
    }
    .bezirk,
     .preis {
      width: 48% !important;
      margin-right: 2%;
      .select2-container {
        width: 100% !important;
      }
    }
    .kategorie {
      width: 50% !important;
      margin-right: 0;
      .select2-container {
        width: 100% !important;
      }
    }
    .zimmer,
    .flaeche {
      width: 24% !important;
      margin-right: 2%;
      .select2-container {
        width: 100% !important;
      }
    }
    .flaeche {
      margin-right: 0;
    }
  }
  /* fornt page popup */
  #crm-core-profile-entry-form-anfrage {
    .field-name-field-angefragte-wohnung {
      display: none;
    }
  }
}
/* End */

/* Search box */
.page-kaufen #block-views-exp-karten-kaufen,
.page-buy #search, .page-rent #search {
  /*display: inline-block !important;*/
  float: left;
  clear: both;
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.home-form-wrap {
  #search {
    .preis {
      clear: left;
    }
  }
}
.select2-container {
  &.select2-container-multi {
     .select2-choices {
      max-height: 80px;
      overflow-y: auto;
    }
  }
  .select2-choices {
    background-color: #fff;
    border: 2px solid $secondary !important;
    @include border-radius(4px);
    color: #444;
  }
  &.select2-container-active {
    .select2-choices {
      border-color: $primary !important;
    }
  }
}
.hide-submit-text,
div.hide-submit-processing {
  display: none !important;
}
/* End */

/* Inner page search box */
.not-front {
  #search {
    display: none;
  }
  &.page-buy {
    #search {
      display: block;
    }
  }
}

/* End */

/* Inquiry form */
#content {
  .view-merkliste {
    .view-footer {
      > div {
        width: 100%;
        text-align: center;
      }
    }
  }
  .view-merkliste {
    .view-footer {
      width: 100%;
      display: inline-block;
      text-align: center;
      > div {
          max-width: 150px;
        .inquiry-button {
          color: #FFF;
          font-size: 20px;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
    input.inquiry {
      display: inline-block;
      float: left;
      margin-right: 10px;
    }
    .group-card {
      width: calc(100% - 30px);
      -webkit-width: calc(100% - 30px);
      -moz-width: calc(100% - 30px);
    }
  }
}
[id^="field-angefragte-wohnung-add-more-wrapper-"],
#field-angefragte-wohnung-add-more-wrapper {
  .form-item {
    input.field-add-more-submit {
      display: none;
    }
  }
}
#ng-lightbox {
  #search {
    display: none;
  }
}

[id^="crm-core-profile-entry-form-anfrage-"],
#crm-core-profile-entry-form-anfrage {
  display: inline-block;
  width: 100%;
  max-width: 600px;
  .name-title-wrapper {
    width: 20%;
    margin-right: 2% !important;
    input {
      width: 100%;
    }
  }
  .name-given-wrapper,
  .name-family-wrapper {
    width: 28%;
    margin-right: 2%;
    input {
      width: 100%;
    }
  }
  .name-credentials-wrapper {
    width: 16%;
    margin-right: 0% !important;
    input {
      width: 100%;
    }
  }

  .field-type-email,
  .field-type-phone {
    float: left;
    width: 48%;
    margin-right: 4%;
    input {
      width: 100%;
    }
  }
  .field-type-phone { margin-right: 0; }
  .field-name-field-activity-notes {
    max-width: 600px;
  }
}
/* Popup of inquiry form */
.lightbox__body {
  [id^="crm-core-profile-entry-form-anfrage-"],
  #crm-core-profile-entry-form-anfrage {
    max-width: 100%;
  }
}

@media (max-width: 767px){
  [id^="crm-core-profile-entry-form-anfrage-"],
  #crm-core-profile-entry-form-anfrage {
    .name-title-wrapper {
      width: 48.50%;
      margin-right: 2% !important;
    }
    .name-given-wrapper,
    .name-credentials-wrapper {
      display: inline-block;
      width: 49%;
      margin-right: 0 !important;
      input {
        display: inline-block;
        width: 100%;
      }
    }
    .name-family-wrapper {
      clear: left;
      width: 49%;
      margin-right: 2% !important;
      input {
        display: inline-block;
        width: 100%;
      }
    }
  }
}
@media (max-width: 480px) {
  .name-title-wrapper,
  .name-family-wrapper {
    width: 100%;
  }
  .name-given-wrapper,
  .name-credentials-wrapper {
    width: 100%;
  }
}
/* End */



/*.front .ui-dialog.ui-dialog-show {
  -moz-transition: height 1s ease;
  -webkit-transition: height 1s ease;
  -o-transition: height 1s ease;
  transition: height 1s ease;
}*/
@media screen and (max-width: 1024px) {
.front {
  .ui-dialog {
    top: 50% !important;
    /*left: 0 !important;
    top: 150px !important;
    width: 80% !important;
    margin-left: 10%;*/
  }
  #search {
    .bezirk,
    .kategorie,
    .preis,
    .zimmer,
    .flaeche {
      .select2-container {
        width: 100% !important;
      }
    }
    > div {
      width: 47% !important;
    }
  }
  }
  #block-menu-menu-menu-footer-menu {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .front {
    #search {
      margin-bottom: 7px !important;
      .bezirk,
      .kategorie,
      .preis,
      .zimmer,
      .flaeche {
        .select2-container
         {
          width: 100% !important;
        }
      }
      > div {
        width: 47% !important;
      }
    }
  }
}
@media (max-width: 991px) {
  .front {
    .ui-dialog {
      top: 50% !important;
    }
  }
}
@media screen and (max-width: 767px) {
  .front {
    .ui-dialog {
      top: 0 !important;
      left: 0 !important;
      display: none;
      width: 75% !important;
      margin-top: 170px;
      margin-left: 10%;
      #search.ui-dialog-content {
        padding: 0 !important;
      }
    }
  }
  /*.front {
    #search {
      .bezirk,
      .kategorie,
      .preis,
      .zimmer,
      .flaeche {
        .select2-container
         {
          width: 100% !important;
        }
      }
      > div {
        width: 46% !important;
      }
    }
    .ui-dialog {
      .ui-dialog-titlebar {
        .ui-dialog-titlebar-close {
          margin: -35px -3px 0 0;
        }
      }
    }
  }*/
  .home-form-wrap {
    a.form-show-link {
      left: 50%;
      display: inline-block;
      margin: 105px 0 0 -46px;
      text-align: center;
    }
    .ui-dialog {
      display: none;
      /*height: 0;*/
      &.ui-dialog-show {
        display: inline-block;
        /*height: auto; */
      }
    }
    #search {
      .bezirk,
      .preis {
        width: 48% !important;
        margin-right: 2%;
        .select2-container {
          width: 100% !important;
        }
      }
      .kategorie {
        width: 50% !important;
        margin-right: 0;
        .select2-container {
          width: 100% !important;
        }
      }
      .zimmer,
      .flaeche {
        width: 24% !important;
        margin-right: 2%;
        .select2-container {
          width: 100% !important;
        }
      }
      .flaeche {
        margin-right: 0;
      }
    }
  }
}
@media screen and (max-width: 560px) {
  /*.front .ui-dialog {
    max-width: 270px;
    margin: 100px 0 0 289px;
    text-transform: capitalize;
  }*/
  .ui-dialog {
    /*left: 0 !important;
    top: 150px !important;
    max-width: 70% !important;
    margin-left: 14% !important;
    width: 640px inline-block;*/
  }
  .front {
    .ui-dialog {
      /*width: 73% !important;*/
      margin-left: 43px;
      width: -webkit-calc(100% - 100px) !important;
      width: -moz-calc(100% - 100px) !important;
      width: calc(100% - 100px) !important;
    }
  }
  .home-form-wrap {
    #search {
    .bezirk,
     .preis {
      width: 100% !important;
      margin-right: 2%;
      .select2-container {
        width: 100% !important;
      }
    }
    .kategorie {
      width: 100% !important;
      margin-right: 0;
      .select2-container {
        width: 100% !important;
      }
    }
    .zimmer,
    .flaeche {
      width: 100% !important;
      margin-right: 2%;
      .select2-container {
        width: 100% !important;
      }
    }
    .flaeche {
      margin-right: 0;
    }
  }
  .ui-dialog-content {
    padding: 0 1em !important;
  }
}

  .ui-dialog {
    .ui-dialog-titlebar {
      .ui-dialog-titlebar-close {
        /*margin: -35px -3px 0 0;*/
      }
    }
  }
  .home-form-wrap {
    a.form-show-link {
      left: 50%;
      display: inline-block;
      margin: 90px 0 0 -46px;
      text-align: center;
    }
  }
  .leaflet-top {
    top: 60px;
  }
}
@media screen and (max-width: 480px) {
  .ui-dialog {
    /*left: 0 !important;
    top: 150px !important;
    max-width: 70% !important;
    margin-left: 13%;
    width: 640px inline-block;*/
  }
  #block-menu-menu-menu-footer-menu {
    display: none;
  }
  .front {
    #search {
      .bezirk,
      .kategorie,
      .preis,
      .zimmer,
      .flaeche {
        .select2-container
         {
          width: 100% !important;
        }
      }
      > div {
        width: 100% !important;
      }
    }
  }
} /* 480 */
@media screen and (max-width: 360px) {
  #block-menu-menu-menu-footer-menu {
    display: none;
  }
  .front {
    #search {
      .bezirk,
      .kategorie,
      .preis,
      .zimmer,
      .flaeche {
        .select2-container
         {
          width: 100% !important;
        }
      }
      > div {
        width: 100% !important;
      }
    }
  }
}
/* End */
@media screen and (max-width: 320px) {
  .leaflet-bottom {
    max-width: 240px;
  }
}

.ui-effects-transfer { border: 2px dotted gray; }

.views-exposed-form .views-exposed-widget .form-submit {
    margin-top: 0;
}
.views-exposed-form .views-exposed-widget {
  height: 2.5em;
}

.panel-3col-33-stacked .center-wrapper {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.6);
    margin-top: 600px;
    position: relative;
    float: left;
    z-index: 5;
    padding: 0 1em;
}
.leaflet-container a.leaflet-popup-close-button {
    background: $secondary;
    color: #fff;
    font: bold 25px/1em Tahoma,Verdana,sans-serif;
    height: 28px;
    padding: 0 0 29px;
    position: absolute;
    right: -12px;
    text-align: center;
    text-decoration: none;
    top: -12px;
    width: 28px;
    z-index: 1;
    @include border-radius(25px);
    &:hover {
      color: $primary;
    }
}

.leaflet-popup-content-wrapper,
.group-card {
    @include border-radius($border-radius);
    border: 2px solid $primary;
    padding: .5em;
    position: relative;
    text-align: left;
    background: #fff;
    @media screen and (max-width: 560px) {
      max-width: 315px;
      overflow-x: hidden;
      img {
        margin-bottom: 1em;
      }
    }
    @media screen and (max-width: 480px) {
      max-width: 280px;
    }
    @media screen and (max-width: 360px) {
      max-width: 250px;
    }
    @media screen and ($br-tablet) {
      max-width: 550px;
    }
    h2 {
        font-size: 1em;
        line-height: 1.2;
        margin: 1em 0 0 0;
    }
    .apartaddress {
      display: inline-block;
      margin: .75em 0 .25em .75em;
      i {
        margin: .1em .7em 0 -.85em;
        line-height: 1;
        font-size: 2em;
      }
      .plz {
          margin-left: .5em;
      }
    }
}
@media (max-width: 767px) {
  .leaflet-popup-content-wrapper {
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden; 
    -webkit-overflow-scrolling: touch;
  }
}
@media (max-width: 560px) {
  .leaflet-popup-content-wrapper {
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden; 
  }
}
.group-card {
  min-height: 215px;
  border: 2px solid $secondary;
  overflow: hidden;
}
.group-card:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0px;
}

    h3 {
      a {
        color: $black;
      }
    }

.leaflet-popup-content {
  line-height: 1.4;
  margin: 0;
  display: table;
  @media (max-width: 767px) {
    display: initial;
  }
  img {
    float: left;
    margin-right: 1em;
  }
  picture {
    img {
      max-height: 300px;
      max-width: 300px;
    }
  }
  h2 {
    margin-right: 1em;
    display: none;
  }
  .right {
    margin: 0 1em;
  }
  a {
    color: $primary;
    &:visited {
      color: $dark;
    }
  }
  p:first-of-type {
    margin-top: 0 !important;
  }
  .view-karten {
    display: inline-block;
    width: 100%;
    .map-table-parent {
      max-height: 200px;
      overflow-y:auto;
    }
    @media (max-width: 767px) {
      .map-table-parent {
        max-height: 100%;
        -webkit-overflow-scrolling: touch;
        /*overflow-y: hidden;*/
      }
    }
  }
  .wo {
    float: left;
    clear: both;
    width: 100%;
    margin: .5em 0;
    i {
      font-size: 1.6em;
      line-height: 1;
      margin: -0.15em 0.5em 0 -0.5em;
    }
  }
  button.toggle {
    padding-right: .5em;
    font-size: 12px;
    /*font-family: $helvetica-neue;*/
    &::after {
        color: #fff;
        content: "";
        float: right;
        font-family: "hk";
        line-height: 1.2;
        width: 20px;
      }
  }
  button.hide::after {
      transform: rotate(45deg);
    }
  .views-row-odd .popup-content {
    background: $grey;
  }
  .apartment-list-parent {
    @media (max-width: 992px) {
      display: inline-block;
      width: 100%;
      overflow: auto;
    }
    @media (max-width: 767px) {
      width: 480px;
    }
    @media (max-width: 560px) {
      width: 300px;
    }
    @media (max-width: 500px) {
      width: 290px;
    }
    @media (max-width: 480px) {
      width: 250px;
    }
  }
  .apartment-list-sub-parent {
    @media (max-width: 992px) {
      display: inline-block;
      width: 550px;
    }
  }
  .grey-shadow-apartment {
    width: 565px !important;
    tr {
      .views-field-nothing { width: 71px; }
      .views-field-field-apart-rooms { width: 66px; }
      .views-field-field-apart-living-space { width: 99px; }
      .views-field-field-apart-price { width: 121px; }
      .views-field-field-apart-lift { width: 49px; }
      .views-field-field-apart-balcony { width: 60px; }
      .views-field-field-building-type {
        width: 99px;
        /*word-break: break-all;*/
      }
    }
  }
  .grey-show-table-content {
    width: 565px !important;
    tr {
      .views-field-field-building-type {
        padding-left: 21px;
      }
    }
  }
  .shadow-apartment {
    display: inline-block;
    width: 533px;
    margin: 0;
    tr {
      .views-field-nid-1 { width: 38px; }
      .views-field-field-object-ref-field-objektid-nunumeric { width: 149px; }
      .views-field-field-apart-rooms { width: 64px; }
      .views-field-field-apart-living-space { width: 96px; }
      .views-field-field-apart-price { width: 117px; }
      .views-field-nothing { width: 69px; }
    }
    tbody {
      border-top: none;
    }
    tr {
      border-bottom: none;
      th {
        padding: 3px 12px;
        border-bottom: none;
      }
      td {
          padding: 3px 12px;
      }
    }
  }
  .popup-content {
    color: $black;
    display: inline-block;
    float: left;
    width: 100%;
    padding: 0 10px;
    /*background: $grey;*/
    .inquiry {
      margin: 0 5px 0 0;
    }
    .apart {
      color: $black;
      display: inline-block;
      /*float: left;*/
      width: calc(100% - 22px);
      /*clear: right;*/
      /*&:nth-child(odd) {
        background: $grey;
      }*/
      span {
        display: inline-block;
        width: 16%;
        padding: 0.5em 1em 0.5em 0;
        .id {
          padding-left: 3px !important;
        }
        &.inquiry-checkbox {
          width: 10%;
        }
        &.id {
          width: 20%;
        }
      }
    }
   }
  .tablehead {
    display: inline-block;
    float: left;
    width: 100%;
    padding: 0 10px;
    span {
      display: inline-block;
      width: 16%;
      padding: 0.5em 1em 0.5em 0;
      &.inquiry-checkbox {
        width: 10%;
      }
      &.id {
       width: 20%;
      }
    }
  }
  .inquiry-button {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 5px;
    .home-page-popup-inquiry {
      display: inline-block;
      padding: 5px 10px;
      margin: 10px 0;
      background-color: #c61c2c;
      color: #FFF;
      font-size: 14px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      &:hover {
        text-decoration: none;
      }
    }
    span {
      width:100%;
      display: inline-block;
      text-align: center;
    }
  }
}
/* MarkerCluster overriding libraries/leaflet_markecluster/dist/MarkerClusterDefault.css*/

.marker-cluster,
.marker-cluster-small,
.marker-cluster-medium,
.marker-cluster-large,
.marker-cluster-xlarge {
  background: none;
  border-radius: 0;
  background: none;
}
.marker-cluster div,
.marker-cluster-small div,
.marker-cluster-medium div,
.marker-cluster-large div,
.marker-cluster-xlarge div {
 width: 32px;
  height: 42px;
  margin-left: 0;
  margin-top: 0;
  /*background: url("/sites/all/themes/hk_theme/icons/markers/Icon_House2.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);*/
  /*@include sprite-sprite(Icon_House2);
  background-position: 362px 0 !important;*/
  @extend .sprite-Icon_House2;
  text-align: center;
  border-radius: 0;
  font: 12px "sans-serif";
}
.marker-cluster span {
    color: #fff;
    font-weight: normal;
    position: absolute;
    top: 6px;
    left: 11px;
}
.marker-cluster-small span,
.marker-cluster-medium span,
.marker-cluster-large span,
.marker-cluster-xlarge span {
    background: #fff;
    @include border-radius (15px);
    color: $primary;
    left: 18px;
    margin-top: 15px;
    height: 20px;
    width: 20px;
    line-height: 1.7;
    text-align: center;
    /*padding: 2px 5px;*/
    position: absolute;
    top: 16px;
}
.leaflet-marker-icon span:nth-child(even) {
  display: none;  /* Zeigt eh nur die Objekte an, nicht die Wohnungen */
}

/* Search Form */
#block-views-exp-karten-kaufen,
#block-views-exp-karten-map-page,
.view-filters {
    left: 0;
    position: relative;
    top: 0;
    z-index: 112;
    margin-left: 2em;
}

.section-apartment #block-views-exp-karten-kaufen,
.section-users #block-views-exp-karten-kaufen {
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  margin-left: 0;
}

/* Rik de Boer */
.leaflet-tagged-marker div {
  background: #fff;
  height: 20px;
  width: 20px;
  min-width: 20px;
  line-height: 1.9;
  position: absolute;
  @include border-radius(25px);
  &.tag-below-marker {
      color: $primary;
      top: -12px;
      left: 3px;
  }
}

/* Make the cluster population "footprint" outline pale transparent white,
   with a thin red border. Change this to your heart's content.
*/
.leaflet-overlay-pane > svg.leaflet-zoom-animated > g > path.leaflet-clickable {
  fill: #fff;
  fill-opacity: 0;
  stroke: $primary;
  stroke-opacity: 0;
  stroke-width: 0;
  stroke-linecap: round; /* butt | square */
  stroke-linejoin: round; /* miter | bevel */
}

.leaflet-control-container .leaflet-control-attribution{
  a {
    color: $dark;
  }
}

/* Anfahrt Kartenblock */
.section-anfahrt, .section-directions,
.section-kontakt, .section-contact {
  .leaflet-container {
    position: static;
    height: 500px !important;
  }
  .leaflet-top {
    top: 0;
  }
  .leaflet-bottom {
    bottom: 0;
  }
  .leaflet-marker-icon {
    width: 101px !important;
    height: 32px !important;
  }
  .leaflet-popup-content h2 {
    display: block;
  }
}

/* Popup design */
.not-front {
  #colorbox {
    .navigation,
    .footer {
      display: none;
    }
    #main {
      margin-top: -30px;
      border: 2px solid #CBC1BA;
      #crm-core-profile-entry-form-anfrage {
        select {
          display: block;
          min-height: 30px;
          width: 170px;
          padding: 0 0 0 8px;
          background-image: url('../images/sprite-sc8b09672a3.png');
          background-position: right 232px;
          background-repeat: repeat-y;
          background-color: #FFF;
          color: #91988E;
          border: 2px solid #CBC1BA;
          border-radius: 4px;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          font-size: 85%;
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          &:focus {
            border-color: #C61C2C;
            outline: none;
          }
        }
        select.field_angefragte_wohnung-delta-order {
          display: none;
        }
      }
      #crm-core-profile-entry-form-anfrage {
        table {
          tr {
            th:nth-child(2) {
              display: none;
            }
            &.even,
            &.odd {
              background-color: transparent;
            }
          }
        }
      }
    }
    button#cboxClose {
      position: absolute;
      top: -25px;
      right: -20px;
      background-image: url(../images/Icon_x_Kreis.png);
      background-position: 0 -3px;
      background-color: transparent;
      text-indent: -9999px;
      cursor: pointer;
      content: '';
      &:hover {
        background-image: url(../images/redIcon_x_Kreis.png);
        cursor: pointer;
      }
      &:focus {
        outline: none;
      }
    }
  }
}
.form-item .form-select.error .select2-choice {
  border: 1px solid #C00;
}
#colorbox,
#cboxOverlay,
#cboxWrapper {
  overflow: visible !important;
}
/* End */

/* Rent Page search design */
.not-front {
  #block-views-facets-block-block,
  #block-views-facets-block-block-1,
  #block-views-facets-block-block-2 {
    a.facet-select {
      background-image: url('../images/sprite-sc8b09672a3.png');
      background-position: right 226px;
      background-repeat: repeat-y;
      font-size: 14px;
      line-height: normal;
      font-family: "Neue Helvetica W01",Helvetica,Arial,"Nimbus Sans L",sans-serif;
    }
  }
  &.page-node-3562,
  &.page-node-3539,
  &.page-node-3342,
  &.page-oeffnungszeiten {
    #main {
      min-height: 500px;
    }
  }
}
/* End */

/* Anfrage page*/
.lightbox__body [id^="crm-core-profile-entry-form-"],
#crm-core-profile-entry-form-call {
  .field-name-field-e-mail,
  .field-type-phone,
  .field-type-text-long {
    max-width: 600px;
    width: 100%;
    .form-item {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }
    input,
    textarea {
      width: 100% !important;
      max-width: 100% !important;
    }
  }

  @media (max-width: 767px) {
    .field-name-field-e-mail {
      display: inline-block;
      width: 48.50% !important;
      margin-right: 2%;
    }
    .field-type-phone {
      display: inline-block;
      width: 49% !important;
    }
  }
  @media (max-width: 480px) {
    .field-name-field-e-mail {
      width: 100% !important;
      margin-right: 0;
    }
    .field-type-phone {
      width: 100% !important;
    }
  }
  /*
  .field_angefragte_wohnung-delta-order {
    display: none;
  }*/
  #field-angefragte-wohnung-values {
    tr.odd {
      background-color: transparent;
    }
     thead {
      tr {
        th {
          &:nth-child(2) {
            display: none;
          }
        }
      }
    }
    tbody {
      tr {
        .field-multiple-drag,
        &:last-child {
          display: none;
        }
        td {
          padding: 5px 0;
        }
      }
    }
  }

}
/* Pop up */
#cboxContent {
  #main {
    overflow: hidden;
  }
  #crm-core-profile-entry-form-call {
    .field_angefragte_wohnung-delta-order {
      display: none;
    }
  }
  #field-angefragte-wohnung-values {
    .form-item {
      #ng-lightbox {
        display: block;
      }
    }
  }
}
#crm-core-profile-entry-form-anfrage {
  #field-angefragte-wohnung-values {
    .form-item {
      #edit-field-angefragte-wohnung-und-1-target-id {
        display: block;
      }
    }
  }
  #edit-field-activity-participants {
    display: none;
  }
}
#ng-lightbox {
  #edit-field-angefragte-wohnung-und-1-target-id {
    display: block;
  }
}
/* End */
body.not-front.not-logged-in.page-hybridauth { background: none; }

#search {
  float: left;
  display: inline-block;
  width: 100%;
  margin-bottom: 13px;
  .block-views {
    float: left;
    width: 18.4%;
    margin-right: 2%;
    padding: 0.5em 0;
    &:last-child {
      margin-right: 0;
    }
    @media (max-width: 992px) {
      width: 49%;
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
    /*@media (max-width: 560px) {
      width: 100%;
      margin-right: 0;
    }*/
  }
  .view-facets-block,
  .item-list {
    position: relative;
    display: inline-block;
    width: 100%;
    border: 2px solid #cbc1ba;
   -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    > a {
      display: inline-block;
      width: 100%;
      max-height: 25px;
      min-height: 25px;
      padding: 2px 5px;
      color: #999;
      font-size: 14px;
      line-height: normal;
      font-family: "Neue Helvetica W01",Helvetica,Arial,"Nimbus Sans L",sans-serif;
      background: #FFF;
      cursor: text;
      vertical-align: -webkit-baseline-middle;
      &:hover {
        text-decoration: none;
      }
    }
    ul {
      position: absolute;
      top: 28px;
      left: 0;
      display: none;
      width: calc(100% + 4px);
      max-height: 250px;
      margin: 0 0 0 -2px;
      overflow-y: auto;
      overflow-x: hidden;
      padding: 3px 0 3px 3px;
      border: 2px solid #cbc1ba;
      background-color: #FFF;
      color: #999;
      font-size: 12px;
      /*font-family: "Neue Helvetica W01",Helvetica,Arial,"Nimbus Sans L",sans-serif;*/
      list-style: none;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      z-index: 9999;
      li {
          padding: 0;
        a {
          /*font-family: 'Neue Helvetica W01';*/
          display: inline-block;
          width: 100%;
          padding: 3px 10px;
          color: #666;
          font-size: 14px;
          white-space: normal;
          &:hover {
            background-color: #8e8e8e;
            color: #FFF;
            text-decoration: none;
          }
        }
      }
    }
    &.active {
      border-color: #c61c2c;
      ul {
        display: inline-block;
        border-color: #c61c2c;
      }
    }
  }
}
/* User dashboard design */
.not-front {
  &.page-search {
    .tabs-primary { display: none; }
    #page-title { display: none; }
    .navigation {
      background-image: url('../images/search-page-parten.png') !important;
      #navigation {
        display: inline-block;
        float: right;
        .region-navigation {
          display: inline-block;
          width: 100%;
          #block-search-api-page-contact-search-box {
            position: relative;
            display: inline-block;
            margin-top: 25px;
            #search-api-page-search-form-contact-search-box {
              input.auto_submit {
                position: relative;
                display: inline-block;
                width: 270px;
                height: 35px;
                background-image: none;
                padding-left: 20px;
                border-color: #969696;
                border-radius: 4px;
                font-size: 15px;
                color: #333;
              }
              input.form-submit {
                position: absolute;
                top: 0;
                right: 0;
                display: inline-block;
                width: 20px;
                height: 35px;
                margin-left: -30px;
                font-size: 0;
                background-image: url('../images/red-search-icon.png');
                background-repeat: no-repeat;
                background-position: 0 8px;
                background-color: transparent;
              }
            }

            #autocomplete {
              margin-left: 2px !important;
              ul {
                li {
                  font-size: 10px;
                  padding-left: 20px;
                  a {
                    font-size: 13px;
                  }
                }
              }
            }
          }
          #block-menu-menu-crm-core-menu {
            display: inline-block;
            float: right;
            ul.menu {
              margin-top: 35px;
              li {
                a {
                  margin: 0 35px 0 8px;
                  color: #747474;
                  line-height: normal;
                  font-size: 14px;
                  vertical-align: middle;
                  letter-spacing: 2px;
                  font-family: "sans-serif";
                  &:hover,
                  &:active {
                    color: #C61C2C;
                  }
                  &.active {
                    color: #C61C2C;
                  }
                }
                &::before {
                  display: inline-block;
                  height: 17px;
                  width: 14px;
                  /*background-image: url("../images/menu-symbol-of-four-lines.png");*/
                  background-repeat: no-repeat;
                  background-position: 0 0;
                  content: '';
                  vertical-align: middle;
                }
                &.menu-dashboard {
                  &::before {
                    height: 17px;
                    width: 14px;
                    background-image: url("../images/menu-symbol-of-four-lines.png");
                  }
                }
                &.menu-logout {
                  &::before {
                    height: 17px;
                    width: 19px;
                    background-image: url("../images/logout.png");
                  }
                  a {
                    font-weight: bold;
                  }
                }
                &.menu-agent-central {
                  &::before {
                    height: 15px;
                    width: 13px;
                    background-image: url("../images/malware.png");
                  }
                }
              }
            }
          }
        }
      }
    }
    #main {
      background: transparent;
      border: none;
      #block-hk-custom-crm-crm-contact-type,
      #block-views-crm-activity-type-block {
        float: right;
        display: inline-block;
        text-transform: uppercase;
        .view-header {
          width: 240px;
          margin-left: 5px;
          padding: 10px 38px;
          background-color: #1A1A1A;
          color: #FFF;
          font-size: 14px;
          cursor: pointer;
          background-image: url("../images/select_arrow.gif");
          background-position: right 10px center;
          background-repeat: no-repeat;
          background-size: 24px auto;
        }
        .view-crm-contact-type {
          .view-header {
            background-color: #D92227;
            font-family: "sans-serif";
          }
          .item-list {
            ul {
              li {
                .views-field {
                  .field-content {
                    a {
                      font-family: "sans-serif" !important;
                    }
                  }
                }
              }
            }
          }
        }
        .view-crm-activity-type {
          p {
            margin: 1px 0 2px;
          }
        }
        .item-list {
          /*.views-field-label {
            padding: 3px 0 0;
          }*/
          ul {
            position: absolute;
            display: none;
            max-width: 240px;
            width: 100%;
            margin: 0 0 0 5px;
            padding: 0;
            background-color: #FFF;
            color: #212830;
            border: 2px solid #CDCDCD;
            text-align: center;
            z-index: 1;
            li {
              padding: 3px 0 0;
              list-style: none;
              &:last-child {
                padding: 3px 0;
              }
              a {
                text-decoration: none;
                font-size: 14px;
                color: #C61C2C;
                line-height: 24px;
                &:hover {
                  color: #1A1A1A;
                }
              }
            }
          }
        }
        .view-crm-contact-type,
          .view-crm-activity-type {
            &:hover {
              .item-list {
                ul {
                  display: block;
                }
              }
            }
          }
      }
      #search-api-page-search-form {
        display: inline-block;
        width: 100%;
        margin-top: 100px;
        text-align: center;
        input {
          height: 58px;
        }
        .description {
          display: none;
        }
        input.form-submit {
          display: none;
          position: absolute;
          width: 100%;
          max-width: 134px;
          height: 44px;
          margin: -75px 0 0 217px;
          padding: 10px 43px;
          border-radius: 0;
          background-image: url("../images/search-icon-dashboard.png");
          background-position: left 16px center;
          background-repeat: no-repeat;
          background-size: 22px 22px;
          font-weight: bold;
          background-color: #DA2228 !important;
        }
        input.form-autocomplete {
          padding-left: 30px;
          min-width: 715px;
          border: 7px solid #CDCDCD;
          background-image: none;
          color: #797979;
          border-radius: 0;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          font-size: 18px;
          text-transform: uppercase;
        }
      }
    }
    #ng-lightbox {
      .lightbox {
        .lightbox__content {
          .lightbox__body {
            max-height: 475px;
            overflow-y: auto;
          }
        }
      }
    }
  }
  .view-id-unclaimed_leads_table_view.view-display-id-block {
    border: 1px solid #FFF;
    margin-top: 100px;
    background-color: #EBEBEB;
    margin-top: 100px;
    table {
      margin-top: 0;
      thead {
        tr {
          height: 50px;
          background-color: #D92227;
          color: #FFF;
          th {
            padding: 5px 25px;
            border-right: 2px solid #FFF;
            font-size: 14px;
            font-weight: bold;
          }
        }
      }
      tbody {
        tr {
          background-color: #EBEBEB;
          border-bottom: 1px dashed #898989;
          td {
            font-size: 13px;
            vertical-align: top;
            img {
              width: 65px;
              height: 65px;
            }
            a.unclaimed-email {
              display: inline-block;
              margin-left: -24px;
              width: 28px;
              height: 18px;
              background-image: url("../images/mix-icon.jpg");
              background-repeat: no-repeat;
              background-position: 3px center;
              font-size: 0;
              text-decoration: none;
              margin-right: 10px;
              padding: 10px 0;
            }
            a.unclaimed-phone {
              display: inline-block;
              width: 28px;
              height: 18px;
              background-image: url("../images/mix-icon.jpg");
              background-repeat: no-repeat;
              background-position: -100px -2px;
              font-size: 0;
              text-decoration: none;
              margin-right: 10px;
              padding: 10px 0;
            }
            a.unclaimed-notes {
              display: inline-block;
              width: 28px;
              height: 18px;
              background-image: url("../images/mix-icon.jpg");
              background-repeat: no-repeat;
              background-position: -53px -2px;
              font-size: 0;
              text-decoration: none;
              padding: 10px 0;
            }
            a.unclaimed-meeting {
              display: inline-block;
              width: 28px;
              height: 18px;
              background-image: url("../images/mix-icon.jpg");
              background-repeat: no-repeat;
              background-position: -21px -3px;
              font-size: 0;
              text-decoration: none;
              margin-right: 10px;
              padding: 10px 0;
            }
            a.unclaimed-task {
              display: inline-block;
              width: 28px;
              height: 18px;
              background-image: url("../images/mix-icon.jpg");
              background-repeat: no-repeat;
              background-position: -75px -4px;
              font-size: 0;
              text-decoration: none;
              margin-right: 10px;
              padding: 10px 0;
            }
          }
          td.views-field-nothing { min-width: 200px; }
          > td {
            padding-left: 25px;
          }
        }
        tr:last-child {
          border-bottom: none;
        }
      }
    }
    .item-list {
      ul.pager {
        li.pager-current{
          background-color: #D11F01;
          border-radius: 50%;
          color: #FFF;
          display: inline-block;
          height: 25px;
          margin: 0;
          padding: 0;
          width: 25px;
          a {
            /*background-color: #D11F01;
            border-radius: 50%;
            color: #FFF;
            display: inline-block;
            height: 25px;
            margin: 0;
            padding: 0;
            width: 25px;*/
          }
        }
        li.pager-item,
        li.pager-next,
        li.pager-previous {
          background-color: transparent;
          /*border: 1px solid #B8B8B8;
          border-radius: 50%;*/
          a {
            border: 1px solid #B8B8B8;
            border-radius: 50%;
            color: #000;
            display: inline-block;
            height: 30px;
            margin: 0;
            padding: 0;
            width: 30px;
            line-height: 30px;
          }
        }
      }
    }
  }
  #autocomplete {
    margin-left: 8px;
    margin-top: -5px;
    border: none;
    z-index: 1;
    ul {
      li {
        padding-left: 30px;
        text-align: left;
        white-space: nowrap !important;
        h2 {
          margin: 0;
          a {
            font-size: 15px;
            text-decoration: none;
            text-align: left;
            color: #000;
          }
        }
        &:hover {
          background-color: #1A1A1A !important;
          h2 {
            a {
              color: #FFF !important;
            }
          }
        }
      }
    }
  }
  #crm-core-activity-edit-email-form {
    #edit-field-activity-date {
      display: none !important;
    }
  }
}
/* End */

/* Popup design */
#ng-lightbox {
  .lightbox {
    .lightbox__content {
      .close-ng-lightbox {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 9999;
        left: auto;
        height: 35px;
        width: 35px;
        margin: -18px;
        border-radius: 50%;
        background-color: #CBC1BA;
        color: #FFF;
        font-size: 26px;
        line-height: 32px;
        text-align: center;
      }
    }
  }
}
/* End */
.lightbox .field-name-field-activity-participants {
  display: none;
}
/*.lightbox .field-name-field-participants {
  display: none;
}*/
#navigation {
  #block-system-main-menu {
    width: calc(100% - 120px);
  }
}
.region-navigation {
  #block-menu-menu-service-menu {
    ul.menu {
      li {
        position: relative;
        &:hover {
          .menu-tooltip {
            @media (min-width: 1024px)
            {
              display: block !important;
            }
          }
        }
        a {
	   .icon-hk-icon-telephone,
	   .icon-hk-icon-favorite,
	   .icon-hk-icon-search {
	      @media (max-width: 992px) {
	        margin-top: 25px;
	      }
	   }
          .icon-hk-icon-telephone {
            @media (max-width: 1024px) {
              margin-top: 25px;
            }
            /*height: 15px;
            width: 15px;
            background-image: url('../images/telephone_icon.png');
            background-repeat: no-repeat;
            background-size: 100% auto;
            background-position: center;*/
          }
        }
        .menu-tooltip {
          position: absolute;
          top: auto;
          bottom: 0;
          left: 0;
          height: auto;
          width: calc(100% + 180px);
          padding: 10px 10px;
          margin: 0 -90px -70px;
          border: 2px solid #CBC1BA;
          border-radius: 5px;
          background-color: #FFF;
          text-align: center;
          @media (max-width: 1024px) {
            margin: 0 0 0 -229px;
          }
          &:before {
            position: absolute;
            top: 0;
            left: 50%;
            height: 24px;
            width: 24px;
            margin: -12px 0 0 -12px;
            background-image: url('../images/up_arrow_bg.png');
            background-position: center top;
            background-repeat: no-repeat;
            content: '';
            @media (max-width: 1024px) {
              right: 0;
              left: auto;
              margin: 9px -12px 0 0;
              transform: rotate(90deg);
            }
          }
          a {
            color: #979E95 !important;
            font: 500 1em "Neue Helvetica W01",Helvetica,Arial,"Nimbus Sans L",sans-serif;
            &:hover {
              color: #C61C2C !important;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1024) {
  .language-switcher {
    top: 270px !important;
  }
}
@media (max-width: 992px) {
  .language-switcher {
    top: 298px !important;
  }
}
@media (max-width: 560px) {
  .language-switcher {
    top: 260px !important;
  }
}
@media (max-width: 767px) {
  .language-switcher {
    display: none;
  }
}

@media (max-width: 1024px) {
  /*#pbCloseBtn::before,
  #pbAutoplayBtn::before {
    height: 25px;
    width: 25px;
    padding: 5px 5px 7px 10px;
    font-size: 1.5em;
  }
  #pbCloseBtn:hover::before {
    padding: 8px 8px 8px 13px;
  }*/
}

/* Contact Page */
.node-type-page.section-contact,
.node-type-page.section-kontakt
 {
   #crm-core-profile-entry-form-kontaktformular {
    .field-name-field-activity-participants {
      display: none;
    }
  }
}


/* Error message */
.messages.error {
  white-space: normal;
  word-break: break-all;
  .messages__list {
    .messages__item {
      white-space: normal;
      word-break: break-all;
    }
  }
}

/* Home page - Search */
.home-form-wrap {
  #search {
    min-width: 100%;
    max-width: 100%;
  }
}
.page-search {
  .search-title {
    display: none;
  }
}
.page-search {
  .search-api-page-results {
    display: none;
  }
}

/* Map bar
.leaflet-control-scale-line {
  font-size: 15px;
}*/

/* Dropdown icon */
.block-facetapi {
  form {
    .select2-choices { /* ul tag */
      background-image: url('../images/sprite-s8f10be3d0d.png');
      background-repeat: no-repeat;
      background-position: right 0;
    }
    .select2-search-field { /* li tag */
      /*background-image: url('../images/sprite-s8f10be3d0d.png');
      background-repeat: no-repeat;
      background-position: right 0;*/
    }
  }
}

/* Inquiry button - favourite page */
.view-footer {
  .inquiry-button {
    color: #fff;
    text-decoration: none;
    &:hover {
      color: #fff !important;
      text-decoration: none !important;
    }
  }
}

/*.i18n-de {
  .leaflet-popup-content{
    .shadow-apartment {
      tr {
        .views-field-field-apart-price {
          width: 100px;
        }
      }
    }
  }
}*/

.select2-container {
  .select2-choice {
    >.select2-chosen {
      font-family: "Neue Helvetica W01",Helvetica,Arial,"Nimbus Sans L",sans-serif;
    }
  }
}

/* Hide language translator icon from contact direction page */
.page-node.section-kontakt,
.page-node.section-contact {
  ul.links {
    display: none;
  }
  @media (max-width: 767px) {
    .field-type-addressfield {
      max-width: 100%;
      .form-wrapper {
        width: 100%;
        .country,
        .form-item .form-text {
          width: 100%;
        }
        div.addressfield-container-inline > div.form-item {
          width: 100%;
          margin-right: 0;
        }
        select.country {
          min-height: 30px;
          border: 2px solid #cbc1ba;
          color: #666666;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px
        }
      }
    }
    .form-item-field-crm-address-und-0-country {
      max-width: 100%;
    }
  }
}
/* End */
