@import "base";
.group-card {
  position: relative;
  margin-bottom: 1em;
  @include box-shadow($box-shadow);
}
.node-type-objekt {
  .flexslider {
    width: 60%;
    margin-right: 5%;
    float: left;
  }
}
  .group-text {
    clear: left;
  }
/*.group-card-project {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #ddd;
    color: #444;
    margin: .5rem;
    padding: .5rem;
    position: relative;
    h3 {
      font-size: 1em;
      margin: .5rem 0 0;
    }
  }
  .group-project-card {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #ddd;
    color: #444;
    margin: .5rem;
    float: left;
    position: relative;
    width: 30%;
    h2 {
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
        color: #fff;
        display: block;
        margin-top: 0;
        position: absolute;
        text-align: center;
        width: 100%;
        z-index: 10;
        line-height: 1.2;
        font-weight: normal;
        a {
          color: #fff;
          display: block;
          padding: 1em .5em;
          &:hover {
            color: $black;
            background: rgba(255,255,255,.6);
            text-decoration: none;
          }
        }
    }
    .group-card-content {
      padding: .5rem;
    }
  }*/
