@import "base";

@media screen and (max-width: 1024px) {
  a.map-link {
    display: none;
  }
  .region-navigation #block-menu-menu-service-menu {
    width: 40px;
    top: 60px;
    position: fixed;
    ul.menu {
      margin: 0;
    }
    a {
      display: block;
    }
    .icon-hk-icon-favorite:before,
    .icon-hk-icon-search:before {
      margin-left: .1em;
      margin-right: .1em;
    }
    i {
      height: 35px;
      width: 40px;
      border: 2px solid $secondary;
      border-right: 0;
      @include border-radius($border-radius 0 0 $border-radius);
      background: #fff;
    }
    .icon-hk-icon-favorite {
      margin: .75em 0 0 0 !important;
    }
    .icon-hk-icon-search {
      margin-top: .4em;
    }
  }
  .language-switcher {
    top: 155px !important;
    position: fixed !important;
  }
}

a.meanmenu-reveal {
  display: none;
  position: relative;
}
.mean-container {
  padding: 0 !important;
  position: relative;
  .mean-bar {
    float: left;
    width: 100%;
    position: fixed;
    top: 19px;
    right: 0;
    padding: 0;
    min-height: 50px;
    z-index: 999999;

  }
  a.meanmenu-reveal {
    box-sizing: content-box !important;
    width: 22px;
    height: 22px;
    padding: 8px;
    /*border: 2px solid $secondary;*/
    border-right: 0;
    @include border-radius($border-radius 0 0 $border-radius);
    /*background: #fff;*/
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    color: $greyer;
    text-decoration: none;
    font-size: 16px;
    text-indent: -9999em;
    line-height: 22px;
    font-size: 1px;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    outline: none;
    span {
      display: block;
      background: $greyer;
      color: #fff;
      height: 3px;
      margin-top: 3px;
    }
  }
  .mean-nav {
    float: left;
    width: 100%;
    /*background: rgba(255,255,255,0.9);*/
    margin-top: 60px;
    overflow: auto;
    .wrapper {
      width: 100%;
      padding: 0;
      margin: 0;
    }
    ul {
      padding: 0;
      margin: 0;
      width: 100%;
      list-style-type: none;
      li {
        position: relative;
        float: left;
        width: 100%;
        background: rgba(255,255,255,0.9);
        /*border-bottom: 4px solid $greyer;*/
        list-style: none !important;
        .collapsed, .expanded {
          list-style: none !important;
        }
        &:hover {
          /*border-bottom: 4px solid $primary;*/
        }
        a {
          display: block;
          float: left;
          width: 90%;
          padding: 1em 5%;
          margin: 0;
          text-align: center;
          color: $dark;
          font-weight: 500;
          /*border-bottom: 1px solid $grey;
          border-bottom: 1px solid rgba($grey, 0.4);*/
          text-decoration: none;
          text-transform: capitalize;
        }
        &:hover {
          background: #252525;
          background: rgba(255,255,255,0.1);
        }
        .mean-expand {
          width: 50px;
          height: 50px;
          border: none !important;
          padding: 12px !important;
          text-align: center;
          position: absolute;
          right: 0;
          top: 0;
          z-index: 2;
          font-weight: 500;
          outline: none;
          font-size: 22px !important;
          &:hover {
            background: none;
          }
        }
        &.mean-last {
          border-bottom: none;
          margin-bottom: 0;
        }
        ul {
          @include clearfix;
          /*background: #e6e6e6;
          -webkit-box-shadow: inset 0 1px 10px rgba(0,0,0,0.1);
          -moz-box-shadow: inset 0 1px 10px rgba(0,0,0,0.1);
          -ms-box-shadow: inset 0 1px 10px rgba(0,0,0,0.1);
          -o-box-shadow: inset 0 1px 10px rgba(0,0,0,0.1);
          box-shadow: inset 0 1px 10px rgba(0,0,0,0.1);*/
          li {
            border-bottom: 0;
            /*border-top: 1px solid $greyer;*/
            &:last-child {
              border-bottom: 0;
            }
            a {
              width: 80%;
              padding: 1em 10%;
              /*border-bottom: 1px dotted $grey;*/
              text-shadow: none !important;
              visibility: visible;
              font-size: 80%;
            }
            li {
              a {
                width: 70%;
                padding: 1em 15%;
              }
              li {
                a {
                  width: 60%;
                  padding: 1em 20%;
                }
                li {
                  a {
                    width: 60%;
                    padding: 1em 20%;
                  }
                  li {
                    a {
                      width: 50%;
                      padding: 1em 25%;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .mean-push {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    clear: both;
  }
}
@include breakpoint($br-tablet) {
  .block-si-menumerge {
    font: 500 1em $helvetica-neue;
    float: right;
    max-width: 860px;
    ul.menu {
      margin: 1em 0 0 0;
      > li {
        a, a:active {
          float: left;
          padding: 0.5em;
          text-transform: uppercase;
          text-align: center;
          width: 100%;
          &.active {
            color: $black;
          }
        }
      }
    }
  }
}