@import "base";
@include breakpoint($breakpoint-small-width) {
  .leaflet-popup-content {
    display: table;
    width: 100%;
    max-width: 315px;
  }
}

@include breakpoint($breakpoint-full-width) {
  .region-navigation #block-menu-menu-service-menu ul.menu,
  #navigation .block-menu ul, #navigation .menu-block-wrapper ul {
    margin-left: 0;
  }
}
@include breakpoint($br-tablet) {
  .leaflet-popup-content {
    width: 550px !important;
    max-width: none;
  }
}
@include breakpoint($breakpoint-large-width) {

}
@include breakpoint($breakpoint-medium-width) {
  .not-front #main {
      position: relative;
      top: 90px;
    }
}
@include breakpoint($breakpoint-med-small-width) {
  .not-front #main {
    position: relative;
    top: 60px;
  }
  .ismobiledevice .leaflet-bottom {
    bottom: 0;
  }
}

