/**
 *  Ontact page design
 **/
/* line 5, ../../../../../../../../lib/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../lib/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../lib/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../lib/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../lib/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../lib/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../lib/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../lib/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../lib/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Contact page design */
/* line 11, ../sass/custom.scss */
.page-crm-core-contact .navigation {
  position: fixed;
  height: 96px;
  width: 100%;
  background-image: url("../images/search-page-parten.png") !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  z-index: 102;
}
/* line 18, ../sass/custom.scss */
.page-crm-core-contact .navigation #logo {
  float: left;
  width: 170px;
  margin-left: 50px;
}
/* line 23, ../sass/custom.scss */
.page-crm-core-contact .navigation #navigation-inner {
  display: inline-block;
  float: left;
  width: calc(100% - 220px);
}
/* line 27, ../sass/custom.scss */
.page-crm-core-contact .navigation #navigation-inner .region-navigation {
  display: inline-block;
  width: 100%;
  /*width: calc(100% - 220px);*/
}
/* line 31, ../sass/custom.scss */
.page-crm-core-contact .navigation #navigation-inner .region-navigation #block-search-api-page-contact-search-box {
  float: left;
  position: relative;
  display: inline-block;
  margin-top: 35px;
  margin-left: 38px;
}
/* line 38, ../sass/custom.scss */
.page-crm-core-contact .navigation #navigation-inner .region-navigation #block-search-api-page-contact-search-box #search-api-page-search-form-contact-search-box input.auto_submit {
  position: relative;
  display: inline-block;
  width: 270px;
  height: 20px;
  background-image: none;
  padding-left: 20px;
  border-color: #969696;
  border-radius: 3px;
  font-size: 15px;
  color: #333;
}
/* line 50, ../sass/custom.scss */
.page-crm-core-contact .navigation #navigation-inner .region-navigation #block-search-api-page-contact-search-box #search-api-page-search-form-contact-search-box input.form-submit {
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
  display: inline-block;
  width: 20px;
  height: 35px;
  margin-left: -30px;
  font-size: 0;
  background-image: url("../images/red-search-icon.png");
  background-repeat: no-repeat;
  background-position: 12px 8px;
  background-color: transparent;
}
/* line 64, ../sass/custom.scss */
.page-crm-core-contact .navigation #navigation-inner .region-navigation #block-search-api-page-contact-search-box #search-api-page-search-form-contact-search-box input.form-submit:hover {
  box-shadow: none !important;
}
/* line 70, ../sass/custom.scss */
.page-crm-core-contact .navigation #navigation-inner .region-navigation #block-search-api-page-contact-search-box #autocomplete {
  margin-left: 2px !important;
}
/* line 73, ../sass/custom.scss */
.page-crm-core-contact .navigation #navigation-inner .region-navigation #block-search-api-page-contact-search-box #autocomplete ul li {
  font-size: 10px;
  padding-left: 20px;
}
/* line 76, ../sass/custom.scss */
.page-crm-core-contact .navigation #navigation-inner .region-navigation #block-search-api-page-contact-search-box #autocomplete ul li a {
  font-size: 13px;
}
/* line 83, ../sass/custom.scss */
.page-crm-core-contact .navigation #navigation-inner .region-navigation #block-menu-menu-crm-core-menu {
  display: inline-block;
  float: right;
}
/* line 86, ../sass/custom.scss */
.page-crm-core-contact .navigation #navigation-inner .region-navigation #block-menu-menu-crm-core-menu ul.menu {
  margin-top: 35px;
  /*margin-right: 56px;*/
}
/* line 89, ../sass/custom.scss */
.page-crm-core-contact .navigation #navigation-inner .region-navigation #block-menu-menu-crm-core-menu ul.menu li {
  float: left;
  list-style: none;
}
/* line 92, ../sass/custom.scss */
.page-crm-core-contact .navigation #navigation-inner .region-navigation #block-menu-menu-crm-core-menu ul.menu li a {
  margin: 0 35px 0 8px;
  color: #747474;
  line-height: normal;
  font-size: 14px;
  vertical-align: middle;
  letter-spacing: 2px;
}
/* line 99, ../sass/custom.scss */
.page-crm-core-contact .navigation #navigation-inner .region-navigation #block-menu-menu-crm-core-menu ul.menu li a:hover {
  color: #C61C2C;
}
/* line 103, ../sass/custom.scss */
.page-crm-core-contact .navigation #navigation-inner .region-navigation #block-menu-menu-crm-core-menu ul.menu li::before {
  display: inline-block;
  width: 14px;
  height: 17px;
  background-image: url("../images/menu-symbol-of-four-lines.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  content: '';
  vertical-align: middle;
}
/* line 114, ../sass/custom.scss */
.page-crm-core-contact .navigation #navigation-inner .region-navigation #block-menu-menu-crm-core-menu ul.menu li.menu-logout::before {
  height: 17px;
  width: 19px;
  background-image: url("../images/logout.png");
}
/* line 119, ../sass/custom.scss */
.page-crm-core-contact .navigation #navigation-inner .region-navigation #block-menu-menu-crm-core-menu ul.menu li.menu-logout a {
  font-weight: bold;
}
/* line 129, ../sass/custom.scss */
.page-crm-core-contact #navigation {
  display: inline-block;
  width: 100%;
  padding-top: 96px;
  clear: both;
}
/* line 135, ../sass/custom.scss */
.page-crm-core-contact .view-crm-contact-page {
  display: inline-block;
  width: 100%;
}
/* line 139, ../sass/custom.scss */
.page-crm-core-contact .view-crm-contact-page .view-content .views-row {
  display: inline-block;
  width: 100%;
  margin-top: 50px;
  border: 1px solid #C3C3C3;
}
/* line 144, ../sass/custom.scss */
.page-crm-core-contact .view-crm-contact-page .view-content .views-row .top-container {
  width: 100%;
  padding: 15px 0 20px;
  display: inline-block;
  background-image: url("../images/Line_dotted.jpg");
  background-repeat: repeat-x;
  background-position: center bottom;
}
/* line 151, ../sass/custom.scss */
.page-crm-core-contact .view-crm-contact-page .view-content .views-row .top-container .left-content {
  padding-left: 15px;
  display: inline-block;
}
/* line 156, ../sass/custom.scss */
.page-crm-core-contact .view-crm-contact-page .view-content .views-row .top-container .left-content .views-field .field-content img {
  height: 200px;
  width: 200px;
  margin-right: 20px;
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  border-radius: 1000px;
}
/* line 167, ../sass/custom.scss */
.page-crm-core-contact .view-crm-contact-page .view-content .views-row .top-container .right-content {
  -webkit-width: calc(100% - 250px);
  -moz-width: calc(100% - 250px);
  width: calc(100% - 250px);
  display: inline-block;
  margin-top: 20px;
  vertical-align: top;
}
/* line 174, ../sass/custom.scss */
.page-crm-core-contact .view-crm-contact-page .view-content .views-row .top-container .right-content .views-field {
  margin-bottom: 10px;
}
/* line 176, ../sass/custom.scss */
.page-crm-core-contact .view-crm-contact-page .view-content .views-row .top-container .right-content .views-field .field-content {
  display: inline-block;
  font-size: 14px;
  color: #525252;
}
/* line 180, ../sass/custom.scss */
.page-crm-core-contact .view-crm-contact-page .view-content .views-row .top-container .right-content .views-field .field-content * {
  display: inline-block;
  vertical-align: top;
}
/* line 185, ../sass/custom.scss */
.page-crm-core-contact .view-crm-contact-page .view-content .views-row .top-container .right-content .views-field .field-label {
  display: inline-block;
  width: 100px;
  font-size: 14px;
  color: #323232;
  font-weight: bold;
  vertical-align: top;
}
/* line 194, ../sass/custom.scss */
.page-crm-core-contact .view-crm-contact-page .view-content .views-row .top-container .right-content .views-field.views-field-field-name .field-content {
  font-size: 25px;
  color: #242021;
  font-weight: bold;
}
/* line 200, ../sass/custom.scss */
.page-crm-core-contact .view-crm-contact-page .view-content .views-row .top-container .right-content .views-field.views-field-field-company-name {
  margin-bottom: 15px;
}
/* line 202, ../sass/custom.scss */
.page-crm-core-contact .view-crm-contact-page .view-content .views-row .top-container .right-content .views-field.views-field-field-company-name .field-content {
  font-size: 17px;
  color: #656565;
}
/* line 208, ../sass/custom.scss */
.page-crm-core-contact .view-crm-contact-page .view-content .views-row .top-container .right-content .views-field.views-field-field-address::before {
  background-image: url("../images/location-icon.png");
  background-repeat: no-repeat;
  background-size: 14px 17px;
  padding-left: 30px;
  content: '';
}
/* line 218, ../sass/custom.scss */
.page-crm-core-contact .view-crm-contact-page .view-content .views-row .top-container .right-content .views-field.views-field-field-email::before {
  background-image: url("../images/envelope.png");
  background-repeat: no-repeat;
  background-size: 17px 15px;
  padding-left: 30px;
  content: '';
}
/* line 228, ../sass/custom.scss */
.page-crm-core-contact .view-crm-contact-page .view-content .views-row .top-container .right-content .views-field.views-field-field-phone::before {
  background-image: url("../images/call-answer.png");
  background-repeat: no-repeat;
  background-size: 14px 15px;
  padding-left: 30px;
  content: '';
}
/* line 241, ../sass/custom.scss */
.page-crm-core-contact .view-crm-contact-page .view-content .views-row .bottom-container {
  display: inline-block;
  min-height: 406px;
  width: 100%;
  display: inline-block;
  padding: 30px;
}
/* line 247, ../sass/custom.scss */
.page-crm-core-contact .view-crm-contact-page .view-content .views-row .bottom-container .views-field {
  padding: 15px 0;
}
/* line 249, ../sass/custom.scss */
.page-crm-core-contact .view-crm-contact-page .view-content .views-row .bottom-container .views-field .field-label {
  display: inline-block;
  width: 100px;
  font-size: 15px;
  color: #323232;
  font-weight: bold;
}
/* line 257, ../sass/custom.scss */
.page-crm-core-contact .view-crm-contact-page .view-content .views-row .bottom-container .field-content {
  display: inline-block;
  font-size: 15px;
}
/* line 266, ../sass/custom.scss */
.page-crm-core-contact #content-before #block-hk-custom-crm-crm-contact-type,
.page-crm-core-contact #content-before #block-views-crm-activity-type-block {
  float: right;
  display: inline-block;
  text-transform: uppercase;
}
/* line 271, ../sass/custom.scss */
.page-crm-core-contact #content-before #block-hk-custom-crm-crm-contact-type .view-header,
.page-crm-core-contact #content-before #block-views-crm-activity-type-block .view-header {
  width: 162px;
  margin-right: 5px;
  padding: 10px 38px;
  background-color: #1A1A1A;
  color: #FFF;
  font-size: 14px;
  cursor: pointer;
  background-image: url("../images/Icon_Arrow_down.png");
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: 24px auto;
}
/* line 285, ../sass/custom.scss */
.page-crm-core-contact #content-before #block-hk-custom-crm-crm-contact-type .view-crm-contact-type .view-header,
.page-crm-core-contact #content-before #block-views-crm-activity-type-block .view-crm-contact-type .view-header {
  background-color: #D92227;
}
/* line 290, ../sass/custom.scss */
.page-crm-core-contact #content-before #block-hk-custom-crm-crm-contact-type .view-crm-activity-type p,
.page-crm-core-contact #content-before #block-views-crm-activity-type-block .view-crm-activity-type p {
  margin: 0;
}
/* line 295, ../sass/custom.scss */
.page-crm-core-contact #content-before #block-hk-custom-crm-crm-contact-type .item-list ul,
.page-crm-core-contact #content-before #block-views-crm-activity-type-block .item-list ul {
  position: absolute;
  display: none;
  max-width: 234px;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #FFF;
  color: #212830;
  border: 2px solid #CDCDCD;
  text-align: center;
  z-index: 1;
}
/* line 307, ../sass/custom.scss */
.page-crm-core-contact #content-before #block-hk-custom-crm-crm-contact-type .item-list ul li,
.page-crm-core-contact #content-before #block-views-crm-activity-type-block .item-list ul li {
  list-style: none;
}
/* line 309, ../sass/custom.scss */
.page-crm-core-contact #content-before #block-hk-custom-crm-crm-contact-type .item-list ul li a,
.page-crm-core-contact #content-before #block-views-crm-activity-type-block .item-list ul li a {
  text-decoration: none;
  font-size: 14px;
  color: #C61C2C;
}
/* line 313, ../sass/custom.scss */
.page-crm-core-contact #content-before #block-hk-custom-crm-crm-contact-type .item-list ul li a:hover,
.page-crm-core-contact #content-before #block-views-crm-activity-type-block .item-list ul li a:hover {
  color: #1A1A1A;
}
/* line 322, ../sass/custom.scss */
.page-crm-core-contact #content-before #block-hk-custom-crm-crm-contact-type:hover .item-list ul,
.page-crm-core-contact #content-before #block-views-crm-activity-type-block:hover .item-list ul {
  display: block;
}
/* line 329, ../sass/custom.scss */
.page-crm-core-contact #block-quicktabs-crm-contact-page {
  display: inline-block;
  width: 100%;
  margin-top: 50px;
}
/* line 333, ../sass/custom.scss */
.page-crm-core-contact #block-quicktabs-crm-contact-page #quicktabs-crm_contact_page {
  display: inline-block;
  width: 100%;
}
/* line 336, ../sass/custom.scss */
.page-crm-core-contact #block-quicktabs-crm-contact-page #quicktabs-crm_contact_page ul.quicktabs-tabs {
  display: inline-block;
  margin-left: 0;
}
/* line 339, ../sass/custom.scss */
.page-crm-core-contact #block-quicktabs-crm-contact-page #quicktabs-crm_contact_page ul.quicktabs-tabs li {
  display: inline-block;
  margin-right: -3px;
  float: left;
}
/* line 344, ../sass/custom.scss */
.page-crm-core-contact #block-quicktabs-crm-contact-page #quicktabs-crm_contact_page ul.quicktabs-tabs li.active a {
  position: relative;
  background-color: #282D33;
}
/* line 347, ../sass/custom.scss */
.page-crm-core-contact #block-quicktabs-crm-contact-page #quicktabs-crm_contact_page ul.quicktabs-tabs li.active a::after {
  border-color: transparent;
  border-top-color: #282D33;
  border-width: 5px 5px 0;
  bottom: 0;
  left: 50%;
  margin: 0 0 -5px -5px;
  border-style: solid;
  height: 0;
  position: absolute;
  width: 0;
  content: '';
}
/* line 362, ../sass/custom.scss */
.page-crm-core-contact #block-quicktabs-crm-contact-page #quicktabs-crm_contact_page ul.quicktabs-tabs li:first-child {
  border-right: none;
}
/* line 365, ../sass/custom.scss */
.page-crm-core-contact #block-quicktabs-crm-contact-page #quicktabs-crm_contact_page ul.quicktabs-tabs li:last-child {
  border-right: none;
}
/* line 368, ../sass/custom.scss */
.page-crm-core-contact #block-quicktabs-crm-contact-page #quicktabs-crm_contact_page ul.quicktabs-tabs li a {
  height: 37px;
  background-color: #BD1725;
  padding: 10px 25px;
  text-decoration: none;
  border: 1px solid #A4A4A4;
  color: #FFF;
  font-weight: bold;
  font-size: 15px;
}
/* line 377, ../sass/custom.scss */
.page-crm-core-contact #block-quicktabs-crm-contact-page #quicktabs-crm_contact_page ul.quicktabs-tabs li a:hover {
  background-color: #282D33;
}
/* line 384, ../sass/custom.scss */
.page-crm-core-contact #block-quicktabs-crm-contact-page #quicktabs-container-crm_contact_page {
  display: inline-block;
  width: 100%;
  margin-top: 23px;
}
/* line 391, ../sass/custom.scss */
.page-crm-core-contact #block-quicktabs-crm-contact-page #quicktabs-container-crm_contact_page table thead tr th {
  padding: 25px;
}
/* line 397, ../sass/custom.scss */
.page-crm-core-contact #block-quicktabs-crm-contact-page #quicktabs-container-crm_contact_page table tbody tr {
  background: transparent;
}
/* line 399, ../sass/custom.scss */
.page-crm-core-contact #block-quicktabs-crm-contact-page #quicktabs-container-crm_contact_page table tbody tr td {
  max-width: 160px;
  padding: 25px;
  font-size: 17px;
  color: #333333;
}
/* line 404, ../sass/custom.scss */
.page-crm-core-contact #block-quicktabs-crm-contact-page #quicktabs-container-crm_contact_page table tbody tr td a {
  padding: 0;
  white-space: normal;
}
/* line 409, ../sass/custom.scss */
.page-crm-core-contact #block-quicktabs-crm-contact-page #quicktabs-container-crm_contact_page table tbody tr.hide-notes {
  display: none;
}
/* line 412, ../sass/custom.scss */
.page-crm-core-contact #block-quicktabs-crm-contact-page #quicktabs-container-crm_contact_page table tbody tr.show-notes {
  display: table-row;
  -webkit-transition: all 0.5s ease 0.5s;
  -moz-transition: all 0.5s ease 0.5s;
  transition: all 0.5s ease 0.5s;
}
/* line 419, ../sass/custom.scss */
.page-crm-core-contact #block-quicktabs-crm-contact-page #quicktabs-container-crm_contact_page table tbody tr.odd {
  border-top: 1px solid #C3C3C3;
  border-bottom: 1px solid #C3C3C3;
  background-image: url("../images/Pattern.jpg");
}
/* line 424, ../sass/custom.scss */
.page-crm-core-contact #block-quicktabs-crm-contact-page #quicktabs-container-crm_contact_page table tbody tr.even {
  border-top: none;
  border-bottom: none;
}
/* line 435, ../sass/custom.scss */
.page-crm-core-contact #block-quicktabs-crm-contact-page #quicktabs-container-crm_contact_page .view-display-id-block_1 table tbody tr td.views-field-field-activity-notes {
  background-image: url("../images/plus.png");
  background-repeat: no-repeat;
  background-position: 26px 25px;
  cursor: pointer;
}
/* line 446, ../sass/custom.scss */
.page-crm-core-contact #block-quicktabs-crm-contact-page #quicktabs-container-crm_contact_page .item-list {
  margin-top: 50px;
}
/* line 449, ../sass/custom.scss */
.page-crm-core-contact #block-quicktabs-crm-contact-page #quicktabs-container-crm_contact_page .item-list ul.pager li.pager-current {
  background-color: #D11F01;
  border-radius: 50%;
  color: #FFF;
  display: inline-block;
  height: 25px;
  margin: 0;
  padding: 0;
  width: 25px;
  line-height: 25px;
}
/* line 459, ../sass/custom.scss */
.page-crm-core-contact #block-quicktabs-crm-contact-page #quicktabs-container-crm_contact_page .item-list ul.pager li.pager-current a {
  /*background-color: #D11F01;
  border-radius: 50%;
  color: #FFF;
  display: inline-block;
  height: 25px;
  margin: 0;
  padding: 0;
  width: 25px;*/
}
/* line 470, ../sass/custom.scss */
.page-crm-core-contact #block-quicktabs-crm-contact-page #quicktabs-container-crm_contact_page .item-list ul.pager li.pager-item,
.page-crm-core-contact #block-quicktabs-crm-contact-page #quicktabs-container-crm_contact_page .item-list ul.pager li.pager-next,
.page-crm-core-contact #block-quicktabs-crm-contact-page #quicktabs-container-crm_contact_page .item-list ul.pager li.pager-previous {
  background-color: transparent;
  /*border: 1px solid #B8B8B8;
  border-radius: 50%;*/
}
/* line 476, ../sass/custom.scss */
.page-crm-core-contact #block-quicktabs-crm-contact-page #quicktabs-container-crm_contact_page .item-list ul.pager li.pager-item a,
.page-crm-core-contact #block-quicktabs-crm-contact-page #quicktabs-container-crm_contact_page .item-list ul.pager li.pager-next a,
.page-crm-core-contact #block-quicktabs-crm-contact-page #quicktabs-container-crm_contact_page .item-list ul.pager li.pager-previous a {
  border: 1px solid #B8B8B8;
  border-radius: 50%;
  color: #000;
  display: inline-block;
  height: 22px;
  margin: 0;
  padding: 0;
  width: 25px;
}
/* line 491, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper {
  display: inline-block;
  width: 100%;
}
/* line 494, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 499, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper #main-content {
  float: left;
  display: inline-block;
  width: -webkit-calc(70% - 30px);
  width: -moz-calc(70% - 30px);
  width: calc(70% - 30px);
  margin: 0 30px 0 0;
}
/* line 507, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper #sidebar-right-top {
  float: left;
  display: inline-block;
  width: 30%;
  border: 1px solid #C5C5C5;
  margin: 50px 0 0;
}
/* line 513, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper #sidebar-right-top .region-sidebar-right-top {
  width: 100%;
  padding-left: 0;
  /* Matching Apartments section design */
  /* End */
}
/* line 518, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper #sidebar-right-top .region-sidebar-right-top #block-views-search-area-block .view.view-search-area {
  background-color: #FFF;
}
/* line 521, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper #sidebar-right-top .region-sidebar-right-top #block-views-search-area-block .view.view-search-area .view-content .content-header {
  display: inline-block;
  -webkit-width: calc(100% - 30px);
  -moz-width: calc(100% - 30px);
  width: calc(100% - 30px);
  padding: 20px 0;
  margin: 15px;
  background-image: url("../images/Line_dotted.jpg");
  background-position: center bottom;
  background-repeat: repeat-x;
  background-color: #FFF;
}
/* line 532, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper #sidebar-right-top .region-sidebar-right-top #block-views-search-area-block .view.view-search-area .view-content .content-header .block-title {
  font-size: 32px;
  margin-bottom: 10px;
}
/* line 536, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper #sidebar-right-top .region-sidebar-right-top #block-views-search-area-block .view.view-search-area .view-content .content-header .sub-title {
  color: #0a0a0a;
  display: inline-block;
  font-size: 16px;
}
/* line 542, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper #sidebar-right-top .region-sidebar-right-top #block-views-search-area-block .view.view-search-area .view-content .content-section {
  background-color: #EBEBEB;
  padding: 20px;
  min-height: 527px;
}
/* line 546, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper #sidebar-right-top .region-sidebar-right-top #block-views-search-area-block .view.view-search-area .view-content .content-section .views-row {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #E7E7E7;
}
/* line 550, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper #sidebar-right-top .region-sidebar-right-top #block-views-search-area-block .view.view-search-area .view-content .content-section .views-row .left-content {
  float: left;
  display: inline-block;
  margin-right: 10px;
}
/* line 555, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper #sidebar-right-top .region-sidebar-right-top #block-views-search-area-block .view.view-search-area .view-content .content-section .views-row.views-row-last {
  border-bottom: none;
}
/* line 560, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper #sidebar-right-top .region-sidebar-right-top #block-views-search-area-block .view.view-search-area .view-content .content-section .views-row .left-content .views-field-picture img {
  width: 106px;
  height: 92px;
}
/* line 566, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper #sidebar-right-top .region-sidebar-right-top #block-views-search-area-block .view.view-search-area .view-content .content-section .views-row .right-content {
  display: inline-block;
  float: left;
  -mox-width: calc(100% - 120px);
  -webkit-width: calc(100% - 120px);
  width: calc(100% - 120px);
}
/* line 573, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper #sidebar-right-top .region-sidebar-right-top #block-views-search-area-block .view.view-search-area .view-content .content-section .views-row .right-content .views-field-title a {
  color: #343434;
  font-size: 14px;
  font-weight: bold;
}
/* line 579, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper #sidebar-right-top .region-sidebar-right-top #block-views-search-area-block .view.view-search-area .view-content .content-section .views-row .right-content .content-apart-no-email {
  display: inline-block;
  width: 100%;
  margin-top: 10px;
}
/* line 583, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper #sidebar-right-top .region-sidebar-right-top #block-views-search-area-block .view.view-search-area .view-content .content-section .views-row .right-content .content-apart-no-email .views-field-apart-no {
  color: #ef595a;
  display: inline-block;
  float: left;
  font-size: 18px;
  font-weight: bold;
}
/* line 590, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper #sidebar-right-top .region-sidebar-right-top #block-views-search-area-block .view.view-search-area .view-content .content-section .views-row .right-content .content-apart-no-email .views-field-email {
  /*float: right;
  display: inline-block;
  background-image: url('../images/Layer 22.png');
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: 24px auto;
  font-size: 0;*/
}
/* line 591, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper #sidebar-right-top .region-sidebar-right-top #block-views-search-area-block .view.view-search-area .view-content .content-section .views-row .right-content .content-apart-no-email .views-field-email a {
  display: inline-block;
  width: 40px;
  text-decoration: none;
  float: right;
  display: inline-block;
  background-image: url("../images/Black_Email.png");
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: 24px auto;
  font-size: 0;
}
/* line 612, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper #sidebar-right-top .region-sidebar-right-top #block-views-search-area-block .view.view-search-area .view-content .content-section .views-row .right-content .content-space-rooms {
  display: inline-block;
  margin-top: 10px;
  width: 100%;
}
/* line 616, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper #sidebar-right-top .region-sidebar-right-top #block-views-search-area-block .view.view-search-area .view-content .content-section .views-row .right-content .content-space-rooms .views-field-living-space {
  display: inline-block;
  float: left;
}
/* line 619, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper #sidebar-right-top .region-sidebar-right-top #block-views-search-area-block .view.view-search-area .view-content .content-section .views-row .right-content .content-space-rooms .views-field-living-space::before {
  display: inline-block;
  height: 29px;
  width: 29px;
  background-image: url("../images/Layer-22.png");
  background-position: right 5px center;
  background-repeat: no-repeat;
  background-size: 24px auto;
  content: '';
  vertical-align: top;
}
/* line 630, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper #sidebar-right-top .region-sidebar-right-top #block-views-search-area-block .view.view-search-area .view-content .content-section .views-row .right-content .content-space-rooms .views-field-living-space span {
  display: inline-block;
  margin-top: 5px;
  font-size: 14px;
  font-weight: bold;
}
/* line 637, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper #sidebar-right-top .region-sidebar-right-top #block-views-search-area-block .view.view-search-area .view-content .content-section .views-row .right-content .content-space-rooms .views-field-bedrooms {
  display: inline-block;
  float: right;
}
/* line 640, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper #sidebar-right-top .region-sidebar-right-top #block-views-search-area-block .view.view-search-area .view-content .content-section .views-row .right-content .content-space-rooms .views-field-bedrooms::before {
  display: inline-block;
  height: 29px;
  width: 35px;
  background-image: url("../images/Layer1.png");
  background-position: right 5px center;
  background-repeat: no-repeat;
  content: '';
  vertical-align: top;
}
/* line 650, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper #sidebar-right-top .region-sidebar-right-top #block-views-search-area-block .view.view-search-area .view-content .content-section .views-row .right-content .content-space-rooms .views-field-bedrooms span {
  display: inline-block;
  margin-top: 5px;
  font-size: 14px;
  font-weight: bold;
}
/* line 657, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper #sidebar-right-top .region-sidebar-right-top #block-views-search-area-block .view.view-search-area .view-content .content-section .views-row .right-content .content-space-rooms .views-field-email {
  display: inline-block;
  float: right;
}
/* line 660, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper #sidebar-right-top .region-sidebar-right-top #block-views-search-area-block .view.view-search-area .view-content .content-section .views-row .right-content .content-space-rooms .views-field-email .field-content {
  font-size: 0;
  background-image: url("../images/Black_Email.png");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 24px auto;
}
/* line 670, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper #sidebar-right-top .region-sidebar-right-top #block-views-search-area-block .view.view-search-area .view-content .content-section .views-row .bottom-content {
  width: 100%;
  display: inline-block;
  margin-top: 10px;
}
/* line 674, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper #sidebar-right-top .region-sidebar-right-top #block-views-search-area-block .view.view-search-area .view-content .content-section .views-row .bottom-content .views-field-price {
  background-color: #c71c2c;
  background-image: url("../images/Buy.png");
  background-position: 9px 13px;
  background-repeat: no-repeat;
  background-size: 24px auto;
  color: #fff;
  float: right;
  font-size: 20px;
  font-weight: bold;
  margin-right: 5px;
  padding: 15px 15px 15px 40px;
}
/* line 686, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper #sidebar-right-top .region-sidebar-right-top #block-views-search-area-block .view.view-search-area .view-content .content-section .views-row .bottom-content .views-field-price:hover {
  cursor: pointer;
}
/* line 695, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper #sidebar-right-top .region-sidebar-right-top #block-views-search-area-block .item-list {
  display: inline-block;
  margin-top: -50px;
  width: 100%;
  background-color: #EBEBEB;
  float: right;
}
/* line 701, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper #sidebar-right-top .region-sidebar-right-top #block-views-search-area-block .item-list ul {
  display: inline-block;
  float: right;
  margin-right: 24px;
}
/* line 705, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper #sidebar-right-top .region-sidebar-right-top #block-views-search-area-block .item-list ul li {
  padding: 0;
}
/* line 709, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper #sidebar-right-top .region-sidebar-right-top #block-views-search-area-block .item-list ul li.pager-next a {
  display: inline-block;
  width: 25px;
  height: 38px;
  font-size: 0;
  background-image: url("../images/next-prevous.png");
  background-position: -17px 0;
  background-repeat: no-repeat;
}
/* line 720, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper #sidebar-right-top .region-sidebar-right-top #block-views-search-area-block .item-list ul li.pager-previous a {
  display: inline-block;
  width: 25px;
  height: 38px;
  font-size: 0;
  background-image: url("../images/next-prevous.png");
  background-position: 6px 0;
  background-repeat: no-repeat;
}
/* line 730, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper #sidebar-right-top .region-sidebar-right-top #block-views-search-area-block .item-list ul li.pager-current {
  display: none;
}
/* line 739, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper #sidebar-right {
  float: left;
  display: inline-block;
  width: 30%;
  border: 1px solid #C5C5C5;
  margin: 50px 0 0;
}
/* line 745, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper #sidebar-right .region-sidebar-right {
  display: inline-block;
  width: 100%;
  padding: 25px;
  background-color: #757D88;
 /*
.block-facetapi {
  width:49% !important;
  display: inline-block !important;
  
}*/
}
/* line 750, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper #sidebar-right .region-sidebar-right .block-facetapi {
  float: left;
  width: 48% !important;
  margin: 0 2% 20px 0;
  /** {
    margin: 0;
    padding: 0;
  }*/
}
/* line 754, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper #sidebar-right .region-sidebar-right .block-facetapi:nth-child(2n + 1) {
  margin-right: 0;
  float: right;
}
/* line 758, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper #sidebar-right .region-sidebar-right .block-facetapi:nth-child(2n) {
  clear: left;
}
/* line 761, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper #sidebar-right .region-sidebar-right .block-facetapi .form-item {
  margin: 0;
  padding: 0;
}
/* line 770, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper #sidebar-right .region-sidebar-right #block-block-1 {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  background-image: url("../images/Line_dotted.jpg");
  background-repeat: repeat-x;
  background-position: center bottom;
}
/* line 777, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper #sidebar-right .region-sidebar-right #block-block-1 h2 {
  margin-bottom: 13px;
  color: #fff;
  font-size: 35px;
  font-weight: bold;
}
/* line 784, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper #sidebar-right .region-sidebar-right #block-block-1 .content p {
  color: #fff;
  font-size: 17px;
}
/* line 791, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper #sidebar-right .region-sidebar-right .select2-container-multi .select2-choices {
  height: 45px;
  margin: 0;
  background-color: #757D88;
  display: inline-block;
  background-image: url("../images/Icon_Arrow_down.png");
  background-position: right 4px;
  background-repeat: no-repeat;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  vertical-align: top;
}
/* line 804, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper #sidebar-right .region-sidebar-right .select2-container-multi .select2-choices li.select2-search-field input {
  float: left;
  width: 100% !important;
  padding: 10px;
  color: rgba(255, 255, 255, 0.8) !important;
  font-size: 15px;
  cursor: pointer;
}
/* line 820, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper #sidebar-right .region-sidebar-right #block-views-last-saved-searches-block {
  display: none;
}
/* line 823, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper #sidebar-right .region-sidebar-right #block-search-api-saved-searches-solr-node-index {
  display: inline-block;
  width: 100%;
}
/* line 827, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper #sidebar-right .region-sidebar-right a.select2-choice {
  float: left;
  height: 45px;
  width: 100%;
  background-color: #757D88;
  border: 1px solid #AAAAAA;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  color: rgba(255, 255, 255, 0.8) !important;
  line-height: 45px;
  font-size: 15px;
  display: inline-block;
  background-image: url("../images/Icon_Arrow_down.png");
  background-position: right 4px;
  background-repeat: no-repeat;
}
/* line 847, ../sass/custom.scss */
.page-crm-core-contact #select2-drop {
  /*display: inline-block;
  max-width: 146px !important;
  width: 100% !important;*/
}
/* line 851, ../sass/custom.scss */
.page-crm-core-contact #select2-drop .select2-search {
  display: none;
}
/* line 858, ../sass/custom.scss */
.page-crm-core-contact #ng-lightbox .lightbox .lightbox__content .lightbox__body {
  max-height: 475px;
  overflow-y: auto;
}
/* line 865, ../sass/custom.scss */
.page-crm-core-contact #ng-lightbox #edit-contact-name a.select2-choice {
  height: 30px;
}
