/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../lib/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../lib/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../lib/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../lib/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../lib/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../lib/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../lib/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../lib/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../lib/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Contact page design */
/* line 11, ../sass/custom.scss */
.page-crm-core-contact .view-crm-contact-page {
  display: inline-block;
  width: 100%;
}
/* line 15, ../sass/custom.scss */
.page-crm-core-contact .view-crm-contact-page .view-content .views-row {
  display: inline-block;
  width: 100%;
  margin-top: 50px;
  border: 1px solid #C3C3C3;
}
/* line 20, ../sass/custom.scss */
.page-crm-core-contact .view-crm-contact-page .view-content .views-row .top-container {
  width: 100%;
  padding: 15px 0 20px;
  display: inline-block;
  background-image: url("../images/Line_dotted.jpg");
  background-repeat: repeat-x;
  background-position: center bottom;
}
/* line 27, ../sass/custom.scss */
.page-crm-core-contact .view-crm-contact-page .view-content .views-row .top-container .left-content {
  padding-left: 15px;
  display: inline-block;
}
/* line 32, ../sass/custom.scss */
.page-crm-core-contact .view-crm-contact-page .view-content .views-row .top-container .left-content .views-field .field-content img {
  height: 200px;
  width: 200px;
  margin-right: 20px;
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  border-radius: 1000px;
}
/* line 43, ../sass/custom.scss */
.page-crm-core-contact .view-crm-contact-page .view-content .views-row .top-container .right-content {
  display: inline-block;
  margin-top: 20px;
  vertical-align: top;
}
/* line 47, ../sass/custom.scss */
.page-crm-core-contact .view-crm-contact-page .view-content .views-row .top-container .right-content .views-field {
  margin-bottom: 10px;
}
/* line 49, ../sass/custom.scss */
.page-crm-core-contact .view-crm-contact-page .view-content .views-row .top-container .right-content .views-field .field-content {
  display: inline-block;
  font-size: 14px;
  color: #525252;
}
/* line 53, ../sass/custom.scss */
.page-crm-core-contact .view-crm-contact-page .view-content .views-row .top-container .right-content .views-field .field-content * {
  display: inline-block;
  vertical-align: top;
}
/* line 58, ../sass/custom.scss */
.page-crm-core-contact .view-crm-contact-page .view-content .views-row .top-container .right-content .views-field .field-label {
  display: inline-block;
  width: 100px;
  font-size: 14px;
  color: #323232;
  font-weight: bold;
  vertical-align: top;
}
/* line 67, ../sass/custom.scss */
.page-crm-core-contact .view-crm-contact-page .view-content .views-row .top-container .right-content .views-field.views-field-field-name .field-content {
  font-size: 25px;
  color: #242021;
  font-weight: bold;
}
/* line 73, ../sass/custom.scss */
.page-crm-core-contact .view-crm-contact-page .view-content .views-row .top-container .right-content .views-field.views-field-field-company-name {
  margin-bottom: 15px;
}
/* line 75, ../sass/custom.scss */
.page-crm-core-contact .view-crm-contact-page .view-content .views-row .top-container .right-content .views-field.views-field-field-company-name .field-content {
  font-size: 17px;
  color: #656565;
}
/* line 81, ../sass/custom.scss */
.page-crm-core-contact .view-crm-contact-page .view-content .views-row .top-container .right-content .views-field.views-field-field-address::before {
  background-image: url("../images/location-icon.png");
  background-repeat: no-repeat;
  background-size: 14px 17px;
  padding-left: 30px;
  content: '';
}
/* line 91, ../sass/custom.scss */
.page-crm-core-contact .view-crm-contact-page .view-content .views-row .top-container .right-content .views-field.views-field-field-email::before {
  background-image: url("../images/envelope.png");
  background-repeat: no-repeat;
  background-size: 17px 15px;
  padding-left: 30px;
  content: '';
}
/* line 101, ../sass/custom.scss */
.page-crm-core-contact .view-crm-contact-page .view-content .views-row .top-container .right-content .views-field.views-field-field-phone::before {
  background-image: url("../images/call-answer.png");
  background-repeat: no-repeat;
  background-size: 14px 15px;
  padding-left: 30px;
  content: '';
}
/* line 114, ../sass/custom.scss */
.page-crm-core-contact .view-crm-contact-page .view-content .views-row .bottom-container {
  width: 100%;
  display: inline-block;
  padding: 30px;
}
/* line 118, ../sass/custom.scss */
.page-crm-core-contact .view-crm-contact-page .view-content .views-row .bottom-container .views-field {
  padding: 15px 0;
}
/* line 120, ../sass/custom.scss */
.page-crm-core-contact .view-crm-contact-page .view-content .views-row .bottom-container .views-field .field-label {
  display: inline-block;
  width: 100px;
  font-size: 15px;
  color: #323232;
  font-weight: bold;
}
/* line 128, ../sass/custom.scss */
.page-crm-core-contact .view-crm-contact-page .view-content .views-row .bottom-container .field-content {
  display: inline-block;
  font-size: 15px;
}
/* line 137, ../sass/custom.scss */
.page-crm-core-contact #content-before #block-hk-custom-crm-crm-contact-type,
.page-crm-core-contact #content-before #block-views-crm-activity-type-block {
  float: right;
  display: inline-block;
  text-transform: uppercase;
}
/* line 142, ../sass/custom.scss */
.page-crm-core-contact #content-before #block-hk-custom-crm-crm-contact-type .view-header,
.page-crm-core-contact #content-before #block-views-crm-activity-type-block .view-header {
  width: 162px;
  margin-right: 5px;
  padding: 10px 38px;
  background-color: #1A1A1A;
  color: #FFF;
  font-size: 14px;
  cursor: pointer;
  background-image: url("../images/Icon_Arrow_down.png");
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: 24px auto;
}
/* line 156, ../sass/custom.scss */
.page-crm-core-contact #content-before #block-hk-custom-crm-crm-contact-type .view-crm-contact-type .view-header,
.page-crm-core-contact #content-before #block-views-crm-activity-type-block .view-crm-contact-type .view-header {
  background-color: #D92227;
}
/* line 161, ../sass/custom.scss */
.page-crm-core-contact #content-before #block-hk-custom-crm-crm-contact-type .item-list ul,
.page-crm-core-contact #content-before #block-views-crm-activity-type-block .item-list ul {
  position: absolute;
  display: none;
  max-width: 232px;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #FFF;
  color: #212830;
  border: 2px solid #CDCDCD;
  text-align: center;
}
/* line 172, ../sass/custom.scss */
.page-crm-core-contact #content-before #block-hk-custom-crm-crm-contact-type .item-list ul li,
.page-crm-core-contact #content-before #block-views-crm-activity-type-block .item-list ul li {
  list-style: none;
}
/* line 174, ../sass/custom.scss */
.page-crm-core-contact #content-before #block-hk-custom-crm-crm-contact-type .item-list ul li a,
.page-crm-core-contact #content-before #block-views-crm-activity-type-block .item-list ul li a {
  text-decoration: none;
  font-size: 14px;
  color: #C61C2C;
}
/* line 178, ../sass/custom.scss */
.page-crm-core-contact #content-before #block-hk-custom-crm-crm-contact-type .item-list ul li a:hover,
.page-crm-core-contact #content-before #block-views-crm-activity-type-block .item-list ul li a:hover {
  color: #1A1A1A;
}
/* line 187, ../sass/custom.scss */
.page-crm-core-contact #content-before #block-hk-custom-crm-crm-contact-type:hover .item-list ul,
.page-crm-core-contact #content-before #block-views-crm-activity-type-block:hover .item-list ul {
  display: block;
}
/* line 194, ../sass/custom.scss */
.page-crm-core-contact #block-quicktabs-crm-contact-page {
  display: inline-block;
  width: 100%;
  margin-top: 50px;
}
/* line 198, ../sass/custom.scss */
.page-crm-core-contact #block-quicktabs-crm-contact-page #quicktabs-crm_contact_page {
  display: inline-block;
}
/* line 200, ../sass/custom.scss */
.page-crm-core-contact #block-quicktabs-crm-contact-page #quicktabs-crm_contact_page ul.quicktabs-tabs {
  display: inline-block;
  margin-left: 0;
}
/* line 203, ../sass/custom.scss */
.page-crm-core-contact #block-quicktabs-crm-contact-page #quicktabs-crm_contact_page ul.quicktabs-tabs li {
  border-right: 2px solid #B2777D;
  line-height: 31px;
  display: inline-block;
  margin-right: -3px;
}
/* line 207, ../sass/custom.scss */
.page-crm-core-contact #block-quicktabs-crm-contact-page #quicktabs-crm_contact_page ul.quicktabs-tabs li.active a {
  background-color: #282D33;
}
/* line 211, ../sass/custom.scss */
.page-crm-core-contact #block-quicktabs-crm-contact-page #quicktabs-crm_contact_page ul.quicktabs-tabs li:first-child {
  border-right: none;
}
/* line 214, ../sass/custom.scss */
.page-crm-core-contact #block-quicktabs-crm-contact-page #quicktabs-crm_contact_page ul.quicktabs-tabs li:last-child {
  border-right: none;
}
/* line 219, ../sass/custom.scss */
.page-crm-core-contact #block-quicktabs-crm-contact-page #quicktabs-crm_contact_page ul.quicktabs-tabs li a {
  height: 37px;
  background-color: #BD1725;
  padding: 7px 15px;
  text-decoration: none;
  color: #FFF;
  font-weight: bold;
}
/* line 226, ../sass/custom.scss */
.page-crm-core-contact #block-quicktabs-crm-contact-page #quicktabs-crm_contact_page ul.quicktabs-tabs li a:hover {
  background-color: #282D33;
}
/* line 232, ../sass/custom.scss */
.page-crm-core-contact #block-quicktabs-crm-contact-page #quicktabs-crm_contact_page ul.quicktabs-tabs li.first a {
  background-color: #282D33;
}
/* line 238, ../sass/custom.scss */
.page-crm-core-contact #block-quicktabs-crm-contact-page #quicktabs-container-crm_contact_page {
  display: inline-block;
  margin-top: 30px;
}
/* line 243, ../sass/custom.scss */
.page-crm-core-contact #block-quicktabs-crm-contact-page #quicktabs-container-crm_contact_page table tbody tr {
  background: transparent;
}
/* line 246, ../sass/custom.scss */
.page-crm-core-contact #block-quicktabs-crm-contact-page #quicktabs-container-crm_contact_page table tbody tr.odd {
  border-top: 1px solid #C3C3C3;
  border-bottom: 1px solid #C3C3C3;
  background-image: url("../images/Pattern.jpg");
}
/* line 251, ../sass/custom.scss */
.page-crm-core-contact #block-quicktabs-crm-contact-page #quicktabs-container-crm_contact_page table tbody tr.even {
  border-top: none;
  border-bottom: none;
}
/* line 259, ../sass/custom.scss */
.page-crm-core-contact #block-quicktabs-crm-contact-page #quicktabs-container-crm_contact_page .item-list ul.pager li.pager-current {
  background-color: #D11F01;
  border-radius: 50%;
  color: #FFF;
  display: inline-block;
  height: 25px;
  margin: 0;
  padding: 0;
  width: 25px;
  line-height: 25px;
}
/* line 269, ../sass/custom.scss */
.page-crm-core-contact #block-quicktabs-crm-contact-page #quicktabs-container-crm_contact_page .item-list ul.pager li.pager-current a {
  /*background-color: #D11F01;
  border-radius: 50%;
  color: #FFF;
  display: inline-block;
  height: 25px;
  margin: 0;
  padding: 0;
  width: 25px;*/
}
/* line 280, ../sass/custom.scss */
.page-crm-core-contact #block-quicktabs-crm-contact-page #quicktabs-container-crm_contact_page .item-list ul.pager li.pager-item,
.page-crm-core-contact #block-quicktabs-crm-contact-page #quicktabs-container-crm_contact_page .item-list ul.pager li.pager-next,
.page-crm-core-contact #block-quicktabs-crm-contact-page #quicktabs-container-crm_contact_page .item-list ul.pager li.pager-previous {
  background-color: transparent;
  /*border: 1px solid #B8B8B8;
  border-radius: 50%;*/
}
/* line 286, ../sass/custom.scss */
.page-crm-core-contact #block-quicktabs-crm-contact-page #quicktabs-container-crm_contact_page .item-list ul.pager li.pager-item a,
.page-crm-core-contact #block-quicktabs-crm-contact-page #quicktabs-container-crm_contact_page .item-list ul.pager li.pager-next a,
.page-crm-core-contact #block-quicktabs-crm-contact-page #quicktabs-container-crm_contact_page .item-list ul.pager li.pager-previous a {
  border: 1px solid #B8B8B8;
  border-radius: 50%;
  color: #000;
  display: inline-block;
  height: 22px;
  margin: 0;
  padding: 0;
  width: 25px;
}
/* line 301, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper {
  display: inline-block;
  width: 100%;
}
/* line 304, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 309, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper #main-content {
  float: left;
  display: inline-block;
  width: -webkit-calc(70% - 15px);
  width: -moz-calc(70% - 15px);
  width: calc(70% - 15px);
  margin: 0 15px 0 0;
}
/* line 317, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper #sidebar-right {
  float: left;
  display: inline-block;
  width: 30%;
  border: 1px solid #C5C5C5;
  margin: 50px 0 0;
}
/* line 323, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper #sidebar-right .region-sidebar-right {
  width: 100%;
  padding-left: 0;
}
/* line 327, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper #sidebar-right .region-sidebar-right #block-views-search-area-block .view.view-search-area {
  padding: 20px;
}
/* line 330, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper #sidebar-right .region-sidebar-right #block-views-search-area-block .view.view-search-area .view-content .content-header {
  display: inline-block;
  width: 100%;
  padding-bottom: 15px;
  margin-bottom: 15px;
  background-image: url("../images/Line_dotted.jpg");
  background-position: center bottom;
  background-repeat: repeat-x;
}
/* line 338, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper #sidebar-right .region-sidebar-right #block-views-search-area-block .view.view-search-area .view-content .content-header .block-title {
  font-size: 30px;
  margin-bottom: 10px;
}
/* line 342, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper #sidebar-right .region-sidebar-right #block-views-search-area-block .view.view-search-area .view-content .content-header .sub-title {
  color: #0a0a0a;
  display: inline-block;
  font-size: 16px;
}
/* line 348, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper #sidebar-right .region-sidebar-right #block-views-search-area-block .view.view-search-area .view-content .views-row {
  background-color: #EBEBEB;
}
/* line 350, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper #sidebar-right .region-sidebar-right #block-views-search-area-block .view.view-search-area .view-content .views-row .left-content {
  display: inline-block;
  float: left;
  margin-right: 10px;
}
/* line 355, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper #sidebar-right .region-sidebar-right #block-views-search-area-block .view.view-search-area .view-content .views-row .right-content {
  display: inline-block;
  float: left;
}
/* line 359, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper #sidebar-right .region-sidebar-right #block-views-search-area-block .view.view-search-area .view-content .views-row .right-content .views-field-title a {
  color: #343434;
  font-size: 14px;
  font-weight: bold;
}
/* line 365, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper #sidebar-right .region-sidebar-right #block-views-search-area-block .view.view-search-area .view-content .views-row .right-content .content-apart-no-email {
  display: inline-block;
  width: 100%;
  margin-top: 10px;
}
/* line 369, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper #sidebar-right .region-sidebar-right #block-views-search-area-block .view.view-search-area .view-content .views-row .right-content .content-apart-no-email .views-field-apart-no {
  color: #ef595a;
  display: inline-block;
  float: left;
  font-size: 18px;
  font-weight: bold;
}
/* line 376, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper #sidebar-right .region-sidebar-right #block-views-search-area-block .view.view-search-area .view-content .views-row .right-content .content-apart-no-email .views-field-email {
  float: right;
  display: inline-block;
}
/* line 381, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper #sidebar-right .region-sidebar-right #block-views-search-area-block .view.view-search-area .view-content .views-row .right-content .content-space-rooms {
  display: inline-block;
  width: 100%;
}
/* line 384, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper #sidebar-right .region-sidebar-right #block-views-search-area-block .view.view-search-area .view-content .views-row .right-content .content-space-rooms .views-field-living-space {
  display: inline-block;
  float: left;
}
/* line 388, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper #sidebar-right .region-sidebar-right #block-views-search-area-block .view.view-search-area .view-content .views-row .right-content .content-space-rooms .views-field-email {
  display: inline-block;
  float: right;
}
/* line 391, ../sass/custom.scss */
.page-crm-core-contact #content-wrapper #sidebar-right .region-sidebar-right #block-views-search-area-block .view.view-search-area .view-content .views-row .right-content .content-space-rooms .views-field-email .field-content {
  font-size: 0;
  background-image: url("../images/Black_Email.png");
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: 24px auto;
}

/* Search page design */
/*.not-front.page-search {
  #main {
    border: none;
    background-color: transparent;
    #content {
      .view-header {
        background-image: url("../images/select_arrow.gif");
        background-position: right 10px center;
        background-repeat: no-repeat;
        background-size: 24px auto;
        text-transform: uppercase;
        .view-crm-activity-type,
        .block-hk-custom-crm {
          display: inline-block;
          float: right;
          .view-header {
            width: 232px;
            margin-right: 10px;
            padding: 10px 38px;
            background-color: #1A1A1A;
            color: #FFF;
            font-size: 14px;
            cursor: pointer;
          }
        }
        #block-hk-custom-crm-crm-contact-type {
          &:hover {
            .item-list {
              ul {
                display: block;
              }
            }
          }
        }
        .view-crm-activity-type {
          &:hover {
            .item-list {
              ul {
                display: block;
              }
            }
          }
        }
        .block-hk-custom-crm {
          .view-header {
            background-color: #D92227;
          }
        }
        .item-list {
          ul {
            position: absolute;
            display: none;
            max-width: 232px;
            width: 100%;
            margin: 0;
            padding: 0;
            background-color: #FFF;
            color: #212830;
            border: 2px solid #CDCDCD;
            text-align: center;
            li {
              list-style: none;
              a {
                text-decoration: none;
              }
            }
          }
        }
      }
      .view-filters {
        display: inline-block;
        width: 100%;
        margin-top: 190px;
        text-align: center;
        #views-exposed-form-dashboard-page {
          display: inline-block;
          input {
            height: 58px;
          }
          .description {
            display: none;
          }
          input#edit-submit-dashboard {
            position: absolute;
            width: 100%;
            max-width: 134px;
            height: 44px;
            margin: 4px 0 0 -161px;
            padding: 10px 43px;
            border-radius: 0;
            background-image: url("../images/search-icon-dashboard.png");
            background-position: left 10px center;
            background-repeat: no-repeat;
            background-size: 34px 34px;
            font-weight: bold;
          }
          input.form-autocomplete {
            padding-left: 30px;
            min-width: 715px;
            border: 7px solid #CDCDCD;
            background-image: none;
            color: #6E6E6E;
            border-radius: 0;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            font-size: 18px;
          }
        }
      }
    }
  }
}
#autocomplete {
  width: 700px !important;
  margin-top: -6px !important;
  margin-left: 9px !important;
  border: none !important;
  ul {
    li {
      padding: 10px 0 10px 30px !important;
      text-align: left !important;
      color: #C61C2C;
      &:hover {
        background-color: #1A1A1A !important;
        color: #FFF !important;
      }
    }
  }
}*/
/* End */
